// Verilog netlist produced by program LSE :  version Radiant Software (64-bit) 2026.1.0.37.0
// Netlist written on Sun Sep 20 17:09:10 2026
// Source file index table: 
// Object locations will have the form @<file_index>(<first_ line>[<left_column>],<last_line>[<right_column>])
// file 0 "c:/users/thanderson/documents/github/e155-lab3/fpga/radiant_project/lab3/source/impl_1/lab1_ta_hex_seg_decoder.sv"
// file 1 "c:/users/thanderson/documents/github/e155-lab3/fpga/radiant_project/lab3/source/impl_1/lab2_ta_counter.sv"
// file 2 "c:/users/thanderson/documents/github/e155-lab3/fpga/radiant_project/lab3/source/impl_1/lab3_ta.sv"
// file 3 "c:/users/thanderson/documents/github/e155-lab3/fpga/radiant_project/lab3/source/impl_1/lab3_ta_controller.sv"
// file 4 "c:/users/thanderson/documents/github/e155-lab3/fpga/radiant_project/lab3/source/impl_1/lab3_ta_digit_sr.sv"
// file 5 "c:/users/thanderson/documents/github/e155-lab3/fpga/radiant_project/lab3/source/impl_1/lab3_ta_keypad_builder.sv"
// file 6 "c:/users/thanderson/documents/github/e155-lab3/fpga/radiant_project/lab3/source/impl_1/lab3_ta_keypad_decoder.sv"
// file 7 "c:/users/thanderson/documents/github/e155-lab3/fpga/radiant_project/lab3/source/impl_1/lab3_ta_scanner.sv"
// file 8 "c:/users/thanderson/documents/github/e155-lab3/fpga/radiant_project/lab3/source/impl_1/lab3_ta_sync.sv"
// file 9 "c:/lscc/radiant/2026.1/ip/pmi/pmi_ice40up.v"
// file 10 "c:/lscc/radiant/2026.1/ip/pmi/pmi_ice40up.vhd"
// file 11 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc.v"
// file 12 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_distributed_ram.v"
// file 13 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_ecc.v"
// file 14 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_flag_and_cnts_logic.v"
// file 15 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_gray_reg.v"
// file 16 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_gray_synchronizer.v"
// file 17 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden.v"
// file 18 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden_prim.v"
// file 19 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden_rd_ctrl_logic.v"
// file 20 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden_rd_output_logic.v"
// file 21 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden_ring_counter.v"
// file 22 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden_wr_ctrl_logic.v"
// file 23 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_prim_gen.v"
// file 24 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_rd_ctrl_logic.v"
// file 25 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_wr_ctrl_logic.v"
// file 26 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dp/rtl/lscc_lfmxo4_ram_dp.v"
// file 27 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dp/rtl/lscc_lfmxo4_ram_dp_behavioral.v"
// file 28 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dp/rtl/lscc_lfmxo4_ram_dp_functions.vh"
// file 29 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dp/rtl/lscc_lfmxo4_ram_dp_impl.v"
// file 30 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dp/rtl/lscc_lfmxo4_ram_dp_lut_decode.v"
// file 31 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dq/rtl/hsiao_ecc_decoder.v"
// file 32 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dq/rtl/hsiao_ecc_encoder.v"
// file 33 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dq/rtl/lscc_lfmxo4_ram_dq.v"
// file 34 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dq/rtl/lscc_lfmxo4_ram_dq_lut_decode.v"
// file 35 "c:/lscc/radiant/2026.1/ip/common/adder/rtl/lscc_adder.v"
// file 36 "c:/lscc/radiant/2026.1/ip/common/adder_subtractor/rtl/lscc_add_sub.v"
// file 37 "c:/lscc/radiant/2026.1/ip/common/complex_mult/rtl/lscc_complex_mult.v"
// file 38 "c:/lscc/radiant/2026.1/ip/common/counter/rtl/lscc_cntr.v"
// file 39 "c:/lscc/radiant/2026.1/ip/common/fifo/rtl/lscc_fifo.v"
// file 40 "c:/lscc/radiant/2026.1/ip/common/fifo_dc/rtl/lscc_fifo_dc.v"
// file 41 "c:/lscc/radiant/2026.1/ip/common/mult_accumulate/rtl/lscc_mult_accumulate.v"
// file 42 "c:/lscc/radiant/2026.1/ip/common/mult_add_sub/rtl/lscc_mult_add_sub.v"
// file 43 "c:/lscc/radiant/2026.1/ip/common/mult_add_sub_sum/rtl/lscc_mult_add_sub_sum.v"
// file 44 "c:/lscc/radiant/2026.1/ip/common/multiplier/rtl/lscc_multiplier.v"
// file 45 "c:/lscc/radiant/2026.1/ip/common/ram_dp/rtl/lscc_ram_dp.v"
// file 46 "c:/lscc/radiant/2026.1/ip/common/ram_dq/rtl/lscc_ram_dq.v"
// file 47 "c:/lscc/radiant/2026.1/ip/common/rom/rtl/lscc_rom.v"
// file 48 "c:/lscc/radiant/2026.1/ip/common/subtractor/rtl/lscc_subtractor.v"
// file 49 "c:/lscc/radiant/2026.1/ip/pmi/pmi_add.v"
// file 50 "c:/lscc/radiant/2026.1/ip/pmi/pmi_addsub.v"
// file 51 "c:/lscc/radiant/2026.1/ip/pmi/pmi_complex_mult.v"
// file 52 "c:/lscc/radiant/2026.1/ip/pmi/pmi_counter.v"
// file 53 "c:/lscc/radiant/2026.1/ip/pmi/pmi_dsp.v"
// file 54 "c:/lscc/radiant/2026.1/ip/pmi/pmi_fifo.v"
// file 55 "c:/lscc/radiant/2026.1/ip/pmi/pmi_fifo_dc.v"
// file 56 "c:/lscc/radiant/2026.1/ip/pmi/pmi_mac.v"
// file 57 "c:/lscc/radiant/2026.1/ip/pmi/pmi_mult.v"
// file 58 "c:/lscc/radiant/2026.1/ip/pmi/pmi_multaddsub.v"
// file 59 "c:/lscc/radiant/2026.1/ip/pmi/pmi_multaddsubsum.v"
// file 60 "c:/lscc/radiant/2026.1/ip/pmi/pmi_ram_dp.v"
// file 61 "c:/lscc/radiant/2026.1/ip/pmi/pmi_ram_dp_be.v"
// file 62 "c:/lscc/radiant/2026.1/ip/pmi/pmi_ram_dq.v"
// file 63 "c:/lscc/radiant/2026.1/ip/pmi/pmi_ram_dq_be.v"
// file 64 "c:/lscc/radiant/2026.1/ip/pmi/pmi_rom.v"
// file 65 "c:/lscc/radiant/2026.1/ip/pmi/pmi_sub.v"
// file 66 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/ccu2_b.v"
// file 67 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/fd1p3bz.v"
// file 68 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/fd1p3dz.v"
// file 69 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/fd1p3iz.v"
// file 70 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/fd1p3jz.v"
// file 71 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/hsosc.v"
// file 72 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/hsosc1p8v.v"
// file 73 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/ib.v"
// file 74 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/ifd1p3az.v"
// file 75 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/lsosc.v"
// file 76 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/lsosc1p8v.v"
// file 77 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/ob.v"
// file 78 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/obz_b.v"
// file 79 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/ofd1p3az.v"
// file 80 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/pdp4k.v"
// file 81 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/rgb.v"
// file 82 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/rgb1p8v.v"
// file 83 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/sp256k.v"
// file 84 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/legacy.v"

//
// Verilog Description of module lab3_ta
//

module lab3_ta (input reset, input enable, input [3:0]col_raw, output [3:0]row_out, 
            output [1:0]anode, output [6:0]seg);
    
    wire reset_c;
    wire enable_c;
    wire [3:0]col_raw_c;
    wire [3:0]row_out_c;
    wire anode_c_N_171;
    wire [6:0]seg_c;
    (* is_clock=1 *) wire int_osc;
    wire [3:0]col_sync;
    wire [3:0]row_scan;
    wire [1:0]row_scan_idx;
    wire scan_done;
    wire scan_enable;
    wire [15:0]keypad;
    wire [3:0]row_decoded;
    wire [1:0]col_decoded;
    wire [3:0]hex_decoded;
    wire [3:0]dig1;
    wire [3:0]dig2;
    wire [3:0]saved_row;
    wire db_reset;
    wire shift_enable;
    wire [17:0]db_counter;
    wire [17:0]hex_counter;
    wire anode_c;
    wire [3:0]s;
    wire [16:0]scan_counter;
    
    wire GND_net, VCC_net, n2249, scan_done_N_173, n14, n13, n13_adj_185, 
        n12, n21, n23, n25, n27, n4, n58, db_done_N_177, n26, 
        hex_counter_5__N_120, n193, n219, n216, n222, row_decoded_2__N_29, 
        n219_adj_186, n216_adj_187, n3539, n3101, n213, n222_adj_188, 
        n225, n213_adj_189, n22, n3525, n150, n30, n2143, n2291, 
        n2140, n2138, n3094, n30_adj_190, n1025, n19, n1028, n23_adj_191, 
        n3133, n1092, n1086, n915, n10, n2027, n3117, n3387, 
        n3607, n3605, n3603, n3593, n2299, n3742, n3741, n3569;
    
    VHI i2 (.Z(VCC_net));
    VLO i1 (.Z(GND_net));
    (* lut_function="(A (B))" *) LUT4 i3257_2_lut (.A(db_counter[6]), .B(db_counter[13]), 
            .Z(n3569));
    defparam i3257_2_lut.INIT = "0x8888";
    (* lut_function="(A (B (C (D))))" *) LUT4 i3291_4_lut (.A(db_counter[1]), 
            .B(db_counter[3]), .C(db_counter[0]), .D(db_counter[5]), .Z(n3603));
    defparam i3291_4_lut.INIT = "0x8000";
    (* lut_function="(A (B))" *) LUT4 i3227_2_lut (.A(db_counter[16]), .B(db_counter[2]), 
            .Z(n3539));
    defparam i3227_2_lut.INIT = "0x8888";
    (* lut_function="(A (B (C (D))))" *) LUT4 i3295_4_lut (.A(db_counter[17]), 
            .B(n3603), .C(n3569), .D(db_counter[8]), .Z(n3607));
    defparam i3295_4_lut.INIT = "0x8000";
    (* lut_function="(A (B (C (D))))" *) LUT4 i3293_4_lut (.A(db_counter[11]), 
            .B(db_counter[15]), .C(db_counter[4]), .D(n3539), .Z(n3605));
    defparam i3293_4_lut.INIT = "0x8000";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i4_4_lut (.A(db_counter[7]), 
            .B(db_counter[14]), .C(db_counter[9]), .D(db_counter[10]), 
            .Z(n10));
    defparam i4_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+!(C (D))))" *) LUT4 i5_4_lut (.A(db_counter[12]), 
            .B(n10), .C(n3605), .D(n3607), .Z(db_done_N_177));
    defparam i5_4_lut.INIT = "0xefff";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i1969_4_lut (.A(keypad[7]), 
            .B(keypad[5]), .C(keypad[6]), .D(keypad[4]), .Z(n2143));
    defparam i1969_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B))" *) LUT4 i1853_2_lut (.A(keypad[9]), .B(keypad[8]), 
            .Z(n2027));
    defparam i1853_2_lut.INIT = "0xeeee";
    (* lut_function="(!(A (B+(C+(D)))+!A (B (C+(D))+!B (C (D)+!C !(D)))))" *) LUT4 i1_4_lut (.A(keypad[4]), 
            .B(keypad[6]), .C(keypad[5]), .D(keypad[7]), .Z(n216_adj_187));
    defparam i1_4_lut.INIT = "0x0116";
    (* lut_function="(!(A (B (C (D))+!B (C))+!A ((D)+!B)))" *) LUT4 i1_4_lut_adj_24 (.A(n213_adj_189), 
            .B(n216_adj_187), .C(n2143), .D(n2140), .Z(n222_adj_188));
    defparam i1_4_lut_adj_24.INIT = "0x0ace";
    (* lut_function="(!((B+(C+(D)))+!A))" *) LUT4 i2_4_lut (.A(n222_adj_188), 
            .B(keypad[11]), .C(n2027), .D(keypad[10]), .Z(n3101));
    defparam i2_4_lut.INIT = "0x0002";
    (* lut_function="(A+(B))" *) LUT4 i3213_2_lut (.A(keypad[12]), .B(keypad[14]), 
            .Z(n3525));
    defparam i3213_2_lut.INIT = "0xeeee";
    (* lut_function="(A (B)+!A (B+!(C+!(D))))" *) LUT4 i1_4_lut_adj_25 (.A(n2143), 
            .B(n3101), .C(n2140), .D(n219_adj_186), .Z(n225));
    defparam i1_4_lut_adj_25.INIT = "0xcdcc";
    (* lut_function="(!(A+(B+((D)+!C))))" *) LUT4 i4_4_lut_adj_26 (.A(keypad[13]), 
            .B(keypad[15]), .C(n225), .D(n3525), .Z(row_decoded_2__N_29));
    defparam i4_4_lut_adj_26.INIT = "0x0010";
    (* lut_function="(!(A (B+(C+(D)))+!A (B (C+(D))+!B (C (D)+!C !(D)))))" *) LUT4 i1_4_lut_adj_27 (.A(keypad[10]), 
            .B(keypad[13]), .C(keypad[12]), .D(keypad[14]), .Z(n219));
    defparam i1_4_lut_adj_27.INIT = "0x0116";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i3281_4_lut (.A(keypad[14]), 
            .B(keypad[12]), .C(keypad[13]), .D(keypad[10]), .Z(n3593));
    defparam i3281_4_lut.INIT = "0xfffe";
    (* lut_function="(!(A (B (C (D))+!B (C))+!A ((D)+!B)))" *) LUT4 i1_4_lut_adj_28 (.A(n213), 
            .B(n216), .C(n2138), .D(n2249), .Z(n222));
    defparam i1_4_lut_adj_28.INIT = "0x0ace";
    (* lut_function="(!(A+(B+!(C))))" *) LUT4 i2_3_lut (.A(n2249), .B(n2138), 
            .C(n219), .Z(n3094));
    defparam i2_3_lut.INIT = "0x1010";
    (* lut_function="(!(A+!(B+!((D)+!C))))" *) LUT4 i1_4_lut_adj_29 (.A(keypad[11]), 
            .B(n3094), .C(n222), .D(n3593), .Z(n3387));
    defparam i1_4_lut_adj_29.INIT = "0x4454";
    IB reset_pad (.I(reset), .O(reset_c));
    IB enable_pad (.I(enable), .O(enable_c));
    (* lut_function="(!(A+(B+(C+!(D)))))" *) LUT4 i3_4_lut (.A(keypad[3]), 
            .B(keypad[15]), .C(keypad[7]), .D(n3387), .Z(n193));
    defparam i3_4_lut.INIT = "0x0100";
    (* lut_function="(A+(B+(C)))" *) LUT4 i2_3_lut_adj_30 (.A(hex_counter[14]), 
            .B(hex_counter[12]), .C(hex_counter[13]), .Z(n915));
    defparam i2_3_lut_adj_30.INIT = "0xfefe";
    IB \col_raw_pad[3]  (.I(col_raw[3]), .O(col_raw_c[3]));
    IB \col_raw_pad[2]  (.I(col_raw[2]), .O(col_raw_c[2]));
    IB \col_raw_pad[1]  (.I(col_raw[1]), .O(col_raw_c[1]));
    IB \col_raw_pad[0]  (.I(col_raw[0]), .O(col_raw_c[0]));
    OB \row_out_pad[3]  (.I(row_out_c[3]), .O(row_out[3]));
    OB \row_out_pad[2]  (.I(row_out_c[2]), .O(row_out[2]));
    (* lut_function="(A (B (C+!(D))+!B (C (D))))" *) LUT4 i4_4_lut_adj_31 (.A(scan_counter[5]), 
            .B(n3741), .C(n3742), .D(scan_counter[16]), .Z(n12));
    defparam i4_4_lut_adj_31.INIT = "0xa088";
    (* lut_function="(A (B (C (D))))" *) LUT4 i5_4_lut_adj_32 (.A(scan_counter[12]), 
            .B(scan_counter[4]), .C(scan_counter[0]), .D(scan_counter[2]), 
            .Z(n13_adj_185));
    defparam i5_4_lut_adj_32.INIT = "0x8000";
    (* lut_function="(A (B (C (D))))" *) LUT4 i7_4_lut (.A(n13_adj_185), .B(scan_counter[3]), 
            .C(n12), .D(scan_counter[1]), .Z(scan_done_N_173));
    defparam i7_4_lut.INIT = "0x8000";
    (* LSE_LINE_FILE_ID=32, LSE_LCOL=25, LSE_RCOL=5, LSE_LLINE=83, LSE_RLINE=88 *) lab3_ta_keypad_decoder i_KEYPAD_DECODER (n25, 
            {keypad}, n1025, col_decoded[0], n3117, n19, n26, {hex_decoded}, 
            n1028, n193, n23_adj_191, row_decoded[2], n30, row_decoded_2__N_29, 
            n22, n23, row_decoded[1], row_decoded[0], n13, n27, 
            n21);
    OB \row_out_pad[1]  (.I(row_out_c[1]), .O(row_out[1]));
    OB \row_out_pad[0]  (.I(row_out_c[0]), .O(row_out[0]));
    OB \anode_pad[1]  (.I(anode_c_N_171), .O(anode[1]));
    OB \anode_pad[0]  (.I(anode_c), .O(anode[0]));
    (* LSE_LINE_FILE_ID=32, LSE_LCOL=4, LSE_RCOL=6, LSE_LLINE=94, LSE_RLINE=99 *) \lab2_ta_counter(WIDTH=18,MAX_COUNT=239999)  i_DB_COUNTER ({db_counter}, 
            db_done_N_177, db_reset, int_osc);
    OB \seg_pad[6]  (.I(seg_c[6]), .O(seg[6]));
    OB \seg_pad[5]  (.I(seg_c[5]), .O(seg[5]));
    OB \seg_pad[4]  (.I(seg_c[4]), .O(seg[4]));
    OB \seg_pad[3]  (.I(seg_c[3]), .O(seg[3]));
    OB \seg_pad[2]  (.I(seg_c[2]), .O(seg[2]));
    OB \seg_pad[1]  (.I(seg_c[1]), .O(seg[1]));
    OB \seg_pad[0]  (.I(seg_c[0]), .O(seg[0]));
    (* lut_function="(!(A+(B (C (D))+!B (C+!(D)))))" *) LUT4 i1_4_lut_adj_33 (.A(scan_counter[16]), 
            .B(n2291), .C(n30_adj_190), .D(scan_counter[15]), .Z(row_scan[2]));
    defparam i1_4_lut_adj_33.INIT = "0x0544";
    (* LSE_LINE_FILE_ID=32, LSE_LCOL=18, LSE_RCOL=5, LSE_LLINE=64, LSE_RLINE=71 *) lab3_ta_scanner i_SCANNER (scan_counter[0], 
            n2299, n2291, scan_counter[3], {row_scan_idx}, scan_counter[15], 
            n3742, scan_counter[12], n3741, row_scan[0], row_scan[2], 
            row_scan[1], scan_enable, scan_counter[5], n30_adj_190, 
            scan_counter[16], scan_counter[2], scan_counter[1], int_osc, 
            scan_counter[4], reset_c);
    (* lut_function="(A+!(B))" *) LUT4 i909_2_lut (.A(shift_enable), .B(reset_c), 
            .Z(n1092));
    defparam i909_2_lut.INIT = "0xbbbb";
    (* lut_function="(A (B+!(C))+!A (B (C)))" *) LUT4 dig1_2__I_0_3_lut (.A(dig1[2]), 
            .B(dig2[2]), .C(anode_c), .Z(s[2]));
    defparam dig1_2__I_0_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))" *) LUT4 dig1_3__I_0_3_lut (.A(dig1[3]), 
            .B(dig2[3]), .C(anode_c), .Z(s[3]));
    defparam dig1_3__I_0_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))" *) LUT4 dig1_0__I_0_3_lut (.A(dig1[0]), 
            .B(dig2[0]), .C(anode_c), .Z(s[0]));
    defparam dig1_0__I_0_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))" *) LUT4 dig1_1__I_0_3_lut (.A(dig1[1]), 
            .B(dig2[1]), .C(anode_c), .Z(s[1]));
    defparam dig1_1__I_0_3_lut.INIT = "0xcaca";
    (* LSE_LINE_FILE_ID=32, LSE_LCOL=4, LSE_RCOL=6, LSE_LLINE=134, LSE_RLINE=139 *) \lab2_ta_counter(WIDTH=18,MAX_COUNT=200000)  i_HEX_COUNTER (int_osc, 
            enable_c, hex_counter_5__N_120, n915, hex_counter[14], hex_counter[13], 
            hex_counter[11], hex_counter[12], hex_counter[10], hex_counter[7], 
            hex_counter[9], hex_counter[15], hex_counter[17], hex_counter[16], 
            hex_counter[8], hex_counter[5], hex_counter[6], reset_c);
    (* lut_function="(A+(B))" *) LUT4 i252_2_lut (.A(hex_counter[5]), .B(hex_counter[6]), 
            .Z(n14));
    defparam i252_2_lut.INIT = "0xeeee";
    (* lut_function="(A (B (C+(D))+!B (C)))" *) LUT4 i1_4_lut_adj_34 (.A(hex_counter[9]), 
            .B(n14), .C(hex_counter[8]), .D(hex_counter[7]), .Z(n4));
    defparam i1_4_lut_adj_34.INIT = "0xa8a0";
    (* lut_function="(A+(B+(C (D))))" *) LUT4 i2_4_lut_adj_35 (.A(n915), .B(hex_counter[11]), 
            .C(hex_counter[10]), .D(n4), .Z(n3133));
    defparam i2_4_lut_adj_35.INIT = "0xfeee";
    (* lut_function="(A (B+(C (D)))+!A (B))" *) LUT4 anode_c_I_0_2_4_lut (.A(hex_counter[16]), 
            .B(hex_counter[17]), .C(hex_counter[15]), .D(n3133), .Z(anode_c));
    defparam anode_c_I_0_2_4_lut.INIT = "0xeccc";
    (* lut_function="(!(A))" *) LUT4 anode_c_I_0_1_lut (.A(anode_c), .Z(anode_c_N_171));
    defparam anode_c_I_0_1_lut.INIT = "0x5555";
    (* lut_function="(A (B+!(C))+!A (B (C)))" *) LUT4 saved_row_0__I_0_3_lut (.A(saved_row[0]), 
            .B(row_scan[0]), .C(scan_enable), .Z(row_out_c[0]));
    defparam saved_row_0__I_0_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))" *) LUT4 saved_row_1__I_0_3_lut (.A(saved_row[1]), 
            .B(row_scan[1]), .C(scan_enable), .Z(row_out_c[1]));
    defparam saved_row_1__I_0_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A !(C))" *) LUT4 i903_2_lut_3_lut (.A(n150), 
            .B(n58), .C(reset_c), .Z(n1086));
    defparam i903_2_lut_3_lut.INIT = "0x8f8f";
    (* lut_function="(!(A (B+(C+(D)))+!A (B (C+(D))+!B (C (D)+!C !(D)))))" *) LUT4 i1_4_lut_4_lut (.A(keypad[0]), 
            .B(keypad[1]), .C(keypad[2]), .D(keypad[4]), .Z(n213));
    defparam i1_4_lut_4_lut.INIT = "0x0116";
    (* lut_function="(!(A (B+(C+(D)))+!A (B (C+(D))+!B (C (D)+!C !(D)))))" *) LUT4 i1_4_lut_4_lut_adj_36 (.A(keypad[5]), 
            .B(keypad[8]), .C(keypad[9]), .D(keypad[6]), .Z(n216));
    defparam i1_4_lut_4_lut_adj_36.INIT = "0x0116";
    (* lut_function="(A (B+!(C))+!A (B (C)))" *) LUT4 saved_row_2__I_0_3_lut (.A(saved_row[2]), 
            .B(row_scan[2]), .C(scan_enable), .Z(row_out_c[2]));
    defparam saved_row_2__I_0_3_lut.INIT = "0xcaca";
    (* lut_function="(!(A (B (C))+!A (B+!(C))))" *) LUT4 saved_row_3__I_0_3_lut (.A(saved_row[3]), 
            .B(n2299), .C(scan_enable), .Z(row_out_c[3]));
    defparam saved_row_3__I_0_3_lut.INIT = "0x3a3a";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i1964_3_lut_4_lut (.A(keypad[9]), 
            .B(keypad[8]), .C(keypad[6]), .D(keypad[5]), .Z(n2138));
    defparam i1964_3_lut_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i2073_3_lut_4_lut (.A(keypad[1]), 
            .B(keypad[0]), .C(keypad[4]), .D(keypad[2]), .Z(n2249));
    defparam i2073_3_lut_4_lut.INIT = "0xfffe";
    (* LSE_LINE_FILE_ID=32, LSE_LCOL=25, LSE_RCOL=5, LSE_LLINE=73, LSE_RLINE=81 *) lab3_ta_keypad_builder i_KEYPAD_BUILDER (int_osc, 
            {keypad}, reset_c, {col_sync}, scan_done_N_173, {row_scan_idx}, 
            scan_done);
    (* lut_function="(!(A (B+(C+(D)))+!A (B (C+(D))+!B (C (D)+!C !(D)))))" *) LUT4 i1_4_lut_4_lut_adj_37 (.A(keypad[8]), 
            .B(keypad[9]), .C(keypad[10]), .D(keypad[11]), .Z(n219_adj_186));
    defparam i1_4_lut_4_lut_adj_37.INIT = "0x0116";
    (* lut_function="(!(A (B+(C+(D)))+!A (B (C+(D))+!B (C (D)+!C !(D)))))" *) LUT4 i1_4_lut_4_lut_adj_38 (.A(keypad[0]), 
            .B(keypad[1]), .C(keypad[2]), .D(keypad[3]), .Z(n213_adj_189));
    defparam i1_4_lut_4_lut_adj_38.INIT = "0x0116";
    (* LSE_LINE_FILE_ID=32, LSE_LCOL=19, LSE_RCOL=4, LSE_LLINE=121, LSE_RLINE=128 *) lab3_ta_digit_sr i_DIGIT_SR (hex_counter_5__N_120, 
            {dig2}, {dig1}, n1092, {hex_decoded}, int_osc);
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i1966_3_lut_4_lut (.A(keypad[1]), 
            .B(keypad[0]), .C(keypad[3]), .D(keypad[2]), .Z(n2140));
    defparam i1966_3_lut_4_lut.INIT = "0xfffe";
    (* syn_instantiated=1 *) HSOSC_CORE hf_osc (.CLKHFPU(VCC_net), .CLKHFEN(VCC_net), 
            .TRIM9(GND_net), .TRIM8(GND_net), .TRIM7(GND_net), .TRIM6(GND_net), 
            .TRIM5(GND_net), .TRIM4(GND_net), .TRIM3(GND_net), .TRIM2(GND_net), 
            .TRIM1(GND_net), .TRIM0(GND_net), .CLKHF(int_osc));
    defparam hf_osc.CLKHF_DIV = "0b01";
    defparam hf_osc.FABRIC_TRIME = "DISABLE";
    (* LSE_LINE_FILE_ID=32, LSE_LCOL=29, LSE_RCOL=6, LSE_LLINE=144, LSE_RLINE=147 *) lab1_ta_hex_seg_decoder i_HEX_DECODER ({s}, 
            {seg_c});
    (* LSE_LINE_FILE_ID=32, LSE_LCOL=15, LSE_RCOL=5, LSE_LLINE=56, LSE_RLINE=60 *) lab3_ta_sync i_SYNC ({col_sync}, 
            {col_raw_c}, int_osc);
    (* LSE_LINE_FILE_ID=32, LSE_LCOL=21, LSE_RCOL=3, LSE_LLINE=103, LSE_RLINE=119 *) lab3_ta_controller i_CONTROLLER ({keypad}, 
            n21, hex_counter_5__N_120, n23, n30, n27, n19, n1086, 
            n26, n13, n25, n58, row_decoded[0], {saved_row}, int_osc, 
            shift_enable, row_decoded[1], scan_enable, col_decoded[0], 
            row_decoded[2], n23_adj_191, db_done_N_177, db_reset, {col_sync}, 
            n150, n22, row_decoded_2__N_29, n1028, n1025, scan_done, 
            reset_c, n3117);
    
endmodule

//
// Verilog Description of module lab3_ta_keypad_decoder
//

module lab3_ta_keypad_decoder (input n25, input [15:0]keypad, input n1025, 
            output \col_decoded[0] , output n3117, input n19, input n26, 
            output [3:0]hex_decoded, input n1028, input n193, input n23, 
            output \row_decoded[2] , input n30, input row_decoded_2__N_29, 
            input n22, input n23_adj_2, output \row_decoded[1] , output \row_decoded[0] , 
            input n13, input n27, input n21);
    
    
    wire n1024, n1013, n1011, n2048, n1027, n2116, n4, n1029, 
        n2237, n1019, n1021, n1990, n1016, n2253, n7, n1014, 
        n1030, n3394, n1018, n6, n1012, n1001, n1026, n995, 
        n2118, n4_adj_182, n7_adj_183, n1023, n8;
    
    (* lut_function="((B+(C))+!A)" *) LUT4 i2_3_lut (.A(keypad[5]), .B(n1025), 
            .C(keypad[4]), .Z(n1027));
    defparam i2_3_lut.INIT = "0xfdfd";
    (* lut_function="(A (B (C (D)))+!A (B (D)))" *) LUT4 i2_4_lut (.A(keypad[13]), 
            .B(n1029), .C(n4), .D(n1011), .Z(n2237));
    defparam i2_4_lut.INIT = "0xc400";
    (* lut_function="(A+(B+!(C)))" *) LUT4 i2_3_lut_adj_8 (.A(keypad[13]), 
            .B(n1019), .C(keypad[12]), .Z(n1021));
    defparam i2_3_lut_adj_8.INIT = "0xefef";
    (* lut_function="(A ((C+(D))+!B))" *) LUT4 i2_4_lut_adj_9 (.A(n2048), 
            .B(keypad[15]), .C(n1016), .D(keypad[14]), .Z(n7));
    defparam i2_4_lut_adj_9.INIT = "0xaaa2";
    (* lut_function="(!(A (B (C (D)))))" *) LUT4 i3508_4_lut (.A(n7), .B(n2237), 
            .C(n1014), .D(n1027), .Z(hex_decoded[0]));
    defparam i3508_4_lut.INIT = "0x7fff";
    (* lut_function="(A+(B+!(C)))" *) LUT4 i2_3_lut_adj_10 (.A(keypad[7]), 
            .B(n1028), .C(keypad[6]), .Z(n1030));
    defparam i2_3_lut_adj_10.INIT = "0xefef";
    (* lut_function="(A+(B+!(C)))" *) LUT4 i2_3_lut_adj_11 (.A(keypad[15]), 
            .B(n1016), .C(keypad[14]), .Z(n1018));
    defparam i2_3_lut_adj_11.INIT = "0xefef";
    (* lut_function="(A (B (C (D))))" *) LUT4 i4_4_lut (.A(n1014), .B(n1018), 
            .C(n193), .D(n6), .Z(n3117));
    defparam i4_4_lut.INIT = "0x8000";
    (* lut_function="(A (B+(C (D)+!C !(D))))" *) LUT4 i2077_4_lut (.A(n1012), 
            .B(n1013), .C(keypad[11]), .D(keypad[10]), .Z(n2253));
    defparam i2077_4_lut.INIT = "0xa88a";
    (* lut_function="(A+(B+!(C)))" *) LUT4 i2_3_lut_adj_12 (.A(keypad[5]), 
            .B(n1025), .C(keypad[4]), .Z(n1026));
    defparam i2_3_lut_adj_12.INIT = "0xefef";
    (* lut_function="(A (B)+!A (B ((D)+!C)))" *) LUT4 i1_4_lut (.A(n995), 
            .B(n1990), .C(keypad[0]), .D(keypad[1]), .Z(n4_adj_182));
    defparam i1_4_lut.INIT = "0xcc8c";
    (* lut_function="(A (B (C (D))+!B ((D)+!C))+!A !(B+(C)))" *) LUT4 col_decoded_0__I_0_4_lut (.A(n1026), 
            .B(n193), .C(n3117), .D(n4_adj_182), .Z(\col_decoded[0] ));
    defparam col_decoded_0__I_0_4_lut.INIT = "0xa303";
    (* lut_function="((B+(C))+!A)" *) LUT4 i2_3_lut_adj_13 (.A(keypad[7]), 
            .B(n1028), .C(keypad[6]), .Z(n1029));
    defparam i2_3_lut_adj_13.INIT = "0xfdfd";
    (* lut_function="(A+(B))" *) LUT4 i1_2_lut (.A(n30), .B(n22), .Z(n1001));
    defparam i1_2_lut.INIT = "0xeeee";
    (* lut_function="(A+(B+(C+!(D))))" *) LUT4 i2_3_lut_4_lut (.A(n23_adj_2), 
            .B(n3394), .C(keypad[8]), .D(keypad[9]), .Z(n1012));
    defparam i2_3_lut_4_lut.INIT = "0xfeff";
    (* lut_function="(A+(B (C)+!B !(C)))" *) LUT4 i2066_3_lut (.A(n995), .B(keypad[1]), 
            .C(keypad[0]), .Z(n2048));
    defparam i2066_3_lut.INIT = "0xebeb";
    (* lut_function="(A+(B+((D)+!C)))" *) LUT4 i2_3_lut_4_lut_adj_14 (.A(n23_adj_2), 
            .B(n3394), .C(keypad[8]), .D(keypad[9]), .Z(n1011));
    defparam i2_3_lut_4_lut_adj_14.INIT = "0xffef";
    (* lut_function="(A (B (C (D))))" *) LUT4 i2109_2_lut_4_lut (.A(n1011), 
            .B(n2253), .C(row_decoded_2__N_29), .D(n2116), .Z(\row_decoded[1] ));
    defparam i2109_2_lut_4_lut.INIT = "0x8000";
    (* lut_function="(!(A (B+!(C))+!A !(C)))" *) LUT4 i1991_2_lut_3_lut (.A(n1011), 
            .B(n2253), .C(row_decoded_2__N_29), .Z(\row_decoded[2] ));
    defparam i1991_2_lut_3_lut.INIT = "0x7070";
    (* lut_function="(!((((D)+!C)+!B)+!A))" *) LUT4 i3520_2_lut_4_lut (.A(n1011), 
            .B(n2253), .C(row_decoded_2__N_29), .D(n2116), .Z(\row_decoded[0] ));
    defparam i3520_2_lut_4_lut.INIT = "0x0080";
    (* lut_function="(A (B (C)))" *) LUT4 i1944_2_lut_3_lut (.A(n2048), .B(n1024), 
            .C(n1026), .Z(n2118));
    defparam i1944_2_lut_3_lut.INIT = "0x8080";
    (* lut_function="(A (B (C)))" *) LUT4 i1942_2_lut_3_lut (.A(n2048), .B(n1024), 
            .C(n1023), .Z(n2116));
    defparam i1942_2_lut_3_lut.INIT = "0x8080";
    (* lut_function="(A+(B+(C+!(D))))" *) LUT4 i2_3_lut_4_lut_adj_15 (.A(n13), 
            .B(n1001), .C(keypad[2]), .D(keypad[3]), .Z(n1024));
    defparam i2_3_lut_4_lut_adj_15.INIT = "0xfeff";
    (* lut_function="(A+(B+((D)+!C)))" *) LUT4 i2_3_lut_4_lut_adj_16 (.A(n13), 
            .B(n1001), .C(keypad[2]), .D(keypad[3]), .Z(n1023));
    defparam i2_3_lut_4_lut_adj_16.INIT = "0xffef";
    (* lut_function="(A (B)+!A (B (C+!(D))))" *) LUT4 i2_4_lut_adj_17 (.A(n995), 
            .B(n1024), .C(keypad[0]), .D(keypad[1]), .Z(n8));
    defparam i2_4_lut_adj_17.INIT = "0xc8cc";
    (* lut_function="(A (B))" *) LUT4 i1_2_lut_adj_18 (.A(n1012), .B(n1018), 
            .Z(n7_adj_183));
    defparam i1_2_lut_adj_18.INIT = "0x8888";
    (* lut_function="(!(A (B (C (D)))))" *) LUT4 i3514_4_lut (.A(n1021), .B(n7_adj_183), 
            .C(n2237), .D(n8), .Z(hex_decoded[1]));
    defparam i3514_4_lut.INIT = "0x7fff";
    (* lut_function="(!(A (B (C))))" *) LUT4 i3518_3_lut (.A(n1029), .B(n2253), 
            .C(n2118), .Z(hex_decoded[2]));
    defparam i3518_3_lut.INIT = "0x7f7f";
    (* lut_function="(!(A (B (C (D)))))" *) LUT4 i3511_4_lut (.A(n1990), .B(n2118), 
            .C(n1030), .D(n1027), .Z(hex_decoded[3]));
    defparam i3511_4_lut.INIT = "0x7fff";
    (* lut_function="(A+(B+(C)))" *) LUT4 i1_2_lut_3_lut (.A(keypad[8]), .B(keypad[9]), 
            .C(n3394), .Z(n1013));
    defparam i1_2_lut_3_lut.INIT = "0xfefe";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i1_2_lut_4_lut (.A(n19), .B(n22), 
            .C(n25), .D(n27), .Z(n3394));
    defparam i1_2_lut_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i1_2_lut_4_lut_adj_19 (.A(keypad[2]), 
            .B(keypad[3]), .C(n30), .D(n22), .Z(n995));
    defparam i1_2_lut_4_lut_adj_19.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i1_2_lut_3_lut_4_lut (.A(n19), 
            .B(n22), .C(n26), .D(n25), .Z(n1016));
    defparam i1_2_lut_3_lut_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i1_2_lut_3_lut_4_lut_adj_20 (.A(n19), 
            .B(n22), .C(n26), .D(n27), .Z(n1019));
    defparam i1_2_lut_3_lut_4_lut_adj_20.INIT = "0xfffe";
    (* lut_function="(A (D)+!A (B (D)+!B !(C+!(D))))" *) LUT4 i1816_2_lut_4_lut (.A(keypad[13]), 
            .B(n1019), .C(keypad[12]), .D(n1011), .Z(n1990));
    defparam i1816_2_lut_4_lut.INIT = "0xef00";
    (* lut_function="(A (D)+!A (B (D)+!B !(C+!(D))))" *) LUT4 i1_2_lut_4_lut_adj_21 (.A(keypad[7]), 
            .B(n1028), .C(keypad[6]), .D(n1023), .Z(n6));
    defparam i1_2_lut_4_lut_adj_21.INIT = "0xef00";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i1_2_lut_4_lut_adj_22 (.A(n23), 
            .B(n26), .C(n27), .D(keypad[12]), .Z(n4));
    defparam i1_2_lut_4_lut_adj_22.INIT = "0xfffe";
    (* lut_function="(A+(B+((D)+!C)))" *) LUT4 i2_3_lut_4_lut_adj_23 (.A(n21), 
            .B(n3394), .C(keypad[10]), .D(keypad[11]), .Z(n1014));
    defparam i2_3_lut_4_lut_adj_23.INIT = "0xffef";
    
endmodule

//
// Verilog Description of module \lab2_ta_counter(WIDTH=18,MAX_COUNT=239999) 
//

module \lab2_ta_counter(WIDTH=18,MAX_COUNT=239999)  (output [17:0]db_counter, 
            input db_done_N_177, input db_reset, input int_osc);
    
    (* is_clock=1 *) wire int_osc;
    
    wire GND_net, VCC_net;
    wire [17:0]n77;
    wire [17:0]n97;
    
    wire n2880, n2894, n4278, n4275, n2886, n2896, db_counter_0__N_94, 
        n2892, n2890, n4272, n4254, n2888, n4269, n4266, n4257, 
        n2884, n4263, n2882, n4260, n4281;
    
    (* lut_function="(A (B))" *) LUT4 i1911_2_lut (.A(n77[15]), .B(db_done_N_177), 
            .Z(n97[15]));
    defparam i1911_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i1910_2_lut (.A(n77[16]), .B(db_done_N_177), 
            .Z(n97[16]));
    defparam i1910_2_lut.INIT = "0x8888";
    FA2 counter_274_add_4_17 (.A0(GND_net), .B0(GND_net), .C0(db_counter[15]), 
        .D0(n2894), .CI0(n2894), .A1(GND_net), .B1(GND_net), .C1(db_counter[16]), 
        .D1(n4278), .CI1(n4278), .CO0(n4278), .CO1(n2896), .S0(n77[15]), 
        .S1(n77[16]));
    defparam counter_274_add_4_17.INIT0 = "0xc33c";
    defparam counter_274_add_4_17.INIT1 = "0xc33c";
    (* lut_function="(!(A))" *) LUT4 i6_1_lut (.A(db_reset), .Z(db_counter_0__N_94));
    defparam i6_1_lut.INIT = "0x5555";
    (* lut_function="(A (B))" *) LUT4 i1909_2_lut (.A(n77[17]), .B(db_done_N_177), 
            .Z(n97[17]));
    defparam i1909_2_lut.INIT = "0x8888";
    FA2 counter_274_add_4_15 (.A0(GND_net), .B0(GND_net), .C0(db_counter[13]), 
        .D0(n2892), .CI0(n2892), .A1(GND_net), .B1(GND_net), .C1(db_counter[14]), 
        .D1(n4275), .CI1(n4275), .CO0(n4275), .CO1(n2894), .S0(n77[13]), 
        .S1(n77[14]));
    defparam counter_274_add_4_15.INIT0 = "0xc33c";
    defparam counter_274_add_4_15.INIT1 = "0xc33c";
    FA2 counter_274_add_4_13 (.A0(GND_net), .B0(GND_net), .C0(db_counter[11]), 
        .D0(n2890), .CI0(n2890), .A1(GND_net), .B1(GND_net), .C1(db_counter[12]), 
        .D1(n4272), .CI1(n4272), .CO0(n4272), .CO1(n2892), .S0(n77[11]), 
        .S1(n77[12]));
    defparam counter_274_add_4_13.INIT0 = "0xc33c";
    defparam counter_274_add_4_13.INIT1 = "0xc33c";
    FA2 counter_274_add_4_11 (.A0(GND_net), .B0(GND_net), .C0(db_counter[9]), 
        .D0(n2888), .CI0(n2888), .A1(GND_net), .B1(GND_net), .C1(db_counter[10]), 
        .D1(n4269), .CI1(n4269), .CO0(n4269), .CO1(n2890), .S0(n77[9]), 
        .S1(n77[10]));
    defparam counter_274_add_4_11.INIT0 = "0xc33c";
    defparam counter_274_add_4_11.INIT1 = "0xc33c";
    FA2 counter_274_add_4_9 (.A0(GND_net), .B0(GND_net), .C0(db_counter[7]), 
        .D0(n2886), .CI0(n2886), .A1(GND_net), .B1(GND_net), .C1(db_counter[8]), 
        .D1(n4266), .CI1(n4266), .CO0(n4266), .CO1(n2888), .S0(n77[7]), 
        .S1(n77[8]));
    defparam counter_274_add_4_9.INIT0 = "0xc33c";
    defparam counter_274_add_4_9.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_274__i16 (.D(n97[16]), .SP(db_reset), 
            .CK(int_osc), .SR(db_counter_0__N_94), .Q(db_counter[16]));
    defparam counter_274__i16.REGSET = "RESET";
    defparam counter_274__i16.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_274__i15 (.D(n97[15]), .SP(db_reset), 
            .CK(int_osc), .SR(db_counter_0__N_94), .Q(db_counter[15]));
    defparam counter_274__i15.REGSET = "RESET";
    defparam counter_274__i15.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_274__i14 (.D(n97[14]), .SP(db_reset), 
            .CK(int_osc), .SR(db_counter_0__N_94), .Q(db_counter[14]));
    defparam counter_274__i14.REGSET = "RESET";
    defparam counter_274__i14.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_274__i13 (.D(n97[13]), .SP(db_reset), 
            .CK(int_osc), .SR(db_counter_0__N_94), .Q(db_counter[13]));
    defparam counter_274__i13.REGSET = "RESET";
    defparam counter_274__i13.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_274__i12 (.D(n97[12]), .SP(db_reset), 
            .CK(int_osc), .SR(db_counter_0__N_94), .Q(db_counter[12]));
    defparam counter_274__i12.REGSET = "RESET";
    defparam counter_274__i12.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_274__i11 (.D(n97[11]), .SP(db_reset), 
            .CK(int_osc), .SR(db_counter_0__N_94), .Q(db_counter[11]));
    defparam counter_274__i11.REGSET = "RESET";
    defparam counter_274__i11.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_274__i10 (.D(n97[10]), .SP(db_reset), 
            .CK(int_osc), .SR(db_counter_0__N_94), .Q(db_counter[10]));
    defparam counter_274__i10.REGSET = "RESET";
    defparam counter_274__i10.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_274__i9 (.D(n97[9]), .SP(db_reset), 
            .CK(int_osc), .SR(db_counter_0__N_94), .Q(db_counter[9]));
    defparam counter_274__i9.REGSET = "RESET";
    defparam counter_274__i9.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_274__i8 (.D(n97[8]), .SP(db_reset), 
            .CK(int_osc), .SR(db_counter_0__N_94), .Q(db_counter[8]));
    defparam counter_274__i8.REGSET = "RESET";
    defparam counter_274__i8.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_274__i7 (.D(n97[7]), .SP(db_reset), 
            .CK(int_osc), .SR(db_counter_0__N_94), .Q(db_counter[7]));
    defparam counter_274__i7.REGSET = "RESET";
    defparam counter_274__i7.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_274__i6 (.D(n97[6]), .SP(db_reset), 
            .CK(int_osc), .SR(db_counter_0__N_94), .Q(db_counter[6]));
    defparam counter_274__i6.REGSET = "RESET";
    defparam counter_274__i6.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_274__i5 (.D(n97[5]), .SP(db_reset), 
            .CK(int_osc), .SR(db_counter_0__N_94), .Q(db_counter[5]));
    defparam counter_274__i5.REGSET = "RESET";
    defparam counter_274__i5.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_274__i4 (.D(n97[4]), .SP(db_reset), 
            .CK(int_osc), .SR(db_counter_0__N_94), .Q(db_counter[4]));
    defparam counter_274__i4.REGSET = "RESET";
    defparam counter_274__i4.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_274__i3 (.D(n97[3]), .SP(db_reset), 
            .CK(int_osc), .SR(db_counter_0__N_94), .Q(db_counter[3]));
    defparam counter_274__i3.REGSET = "RESET";
    defparam counter_274__i3.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_274__i2 (.D(n97[2]), .SP(db_reset), 
            .CK(int_osc), .SR(db_counter_0__N_94), .Q(db_counter[2]));
    defparam counter_274__i2.REGSET = "RESET";
    defparam counter_274__i2.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_274__i1 (.D(n97[1]), .SP(db_reset), 
            .CK(int_osc), .SR(db_counter_0__N_94), .Q(db_counter[1]));
    defparam counter_274__i1.REGSET = "RESET";
    defparam counter_274__i1.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_274__i0 (.D(n97[0]), .SP(db_reset), 
            .CK(int_osc), .SR(db_counter_0__N_94), .Q(db_counter[0]));
    defparam counter_274__i0.REGSET = "RESET";
    defparam counter_274__i0.SRMODE = "ASYNC";
    VLO i1 (.Z(GND_net));
    FA2 counter_274_add_4_7 (.A0(GND_net), .B0(GND_net), .C0(db_counter[5]), 
        .D0(n2884), .CI0(n2884), .A1(GND_net), .B1(GND_net), .C1(db_counter[6]), 
        .D1(n4263), .CI1(n4263), .CO0(n4263), .CO1(n2886), .S0(n77[5]), 
        .S1(n77[6]));
    defparam counter_274_add_4_7.INIT0 = "0xc33c";
    defparam counter_274_add_4_7.INIT1 = "0xc33c";
    FA2 counter_274_add_4_5 (.A0(GND_net), .B0(GND_net), .C0(db_counter[3]), 
        .D0(n2882), .CI0(n2882), .A1(GND_net), .B1(GND_net), .C1(db_counter[4]), 
        .D1(n4260), .CI1(n4260), .CO0(n4260), .CO1(n2884), .S0(n77[3]), 
        .S1(n77[4]));
    defparam counter_274_add_4_5.INIT0 = "0xc33c";
    defparam counter_274_add_4_5.INIT1 = "0xc33c";
    FA2 counter_274_add_4_3 (.A0(GND_net), .B0(GND_net), .C0(db_counter[1]), 
        .D0(n2880), .CI0(n2880), .A1(GND_net), .B1(GND_net), .C1(db_counter[2]), 
        .D1(n4257), .CI1(n4257), .CO0(n4257), .CO1(n2882), .S0(n77[1]), 
        .S1(n77[2]));
    defparam counter_274_add_4_3.INIT0 = "0xc33c";
    defparam counter_274_add_4_3.INIT1 = "0xc33c";
    FA2 counter_274_add_4_1 (.A0(GND_net), .B0(GND_net), .C0(GND_net), 
        .A1(GND_net), .B1(VCC_net), .C1(db_counter[0]), .D1(n4254), 
        .CI1(n4254), .CO0(n4254), .CO1(n2880), .S1(n77[0]));
    defparam counter_274_add_4_1.INIT0 = "0xc33c";
    defparam counter_274_add_4_1.INIT1 = "0xc33c";
    FA2 counter_274_add_4_19 (.A0(GND_net), .B0(GND_net), .C0(db_counter[17]), 
        .D0(n2896), .CI0(n2896), .A1(GND_net), .B1(GND_net), .C1(GND_net), 
        .D1(n4281), .CI1(n4281), .CO0(n4281), .S0(n77[17]));
    defparam counter_274_add_4_19.INIT0 = "0xc33c";
    defparam counter_274_add_4_19.INIT1 = "0xc33c";
    (* lut_function="(A (B))" *) LUT4 i1981_2_lut (.A(n77[0]), .B(db_done_N_177), 
            .Z(n97[0]));
    defparam i1981_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i1941_2_lut (.A(n77[1]), .B(db_done_N_177), 
            .Z(n97[1]));
    defparam i1941_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i1940_2_lut (.A(n77[2]), .B(db_done_N_177), 
            .Z(n97[2]));
    defparam i1940_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i1904_2_lut (.A(n77[3]), .B(db_done_N_177), 
            .Z(n97[3]));
    defparam i1904_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i1903_2_lut (.A(n77[4]), .B(db_done_N_177), 
            .Z(n97[4]));
    defparam i1903_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i1902_2_lut (.A(n77[5]), .B(db_done_N_177), 
            .Z(n97[5]));
    defparam i1902_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i1901_2_lut (.A(n77[6]), .B(db_done_N_177), 
            .Z(n97[6]));
    defparam i1901_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i1900_2_lut (.A(n77[7]), .B(db_done_N_177), 
            .Z(n97[7]));
    defparam i1900_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i1880_2_lut (.A(n77[8]), .B(db_done_N_177), 
            .Z(n97[8]));
    defparam i1880_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i1938_2_lut (.A(n77[9]), .B(db_done_N_177), 
            .Z(n97[9]));
    defparam i1938_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i1933_2_lut (.A(n77[10]), .B(db_done_N_177), 
            .Z(n97[10]));
    defparam i1933_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i1932_2_lut (.A(n77[11]), .B(db_done_N_177), 
            .Z(n97[11]));
    defparam i1932_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i1931_2_lut (.A(n77[12]), .B(db_done_N_177), 
            .Z(n97[12]));
    defparam i1931_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i1930_2_lut (.A(n77[13]), .B(db_done_N_177), 
            .Z(n97[13]));
    defparam i1930_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i1912_2_lut (.A(n77[14]), .B(db_done_N_177), 
            .Z(n97[14]));
    defparam i1912_2_lut.INIT = "0x8888";
    VHI i2 (.Z(VCC_net));
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_274__i17 (.D(n97[17]), .SP(db_reset), 
            .CK(int_osc), .SR(db_counter_0__N_94), .Q(db_counter[17]));
    defparam counter_274__i17.REGSET = "RESET";
    defparam counter_274__i17.SRMODE = "ASYNC";
    
endmodule

//
// Verilog Description of module lab3_ta_scanner
//

module lab3_ta_scanner (output \scan_counter[0] , output n2299, output n2291, 
            output \scan_counter[3] , output [1:0]row_scan_idx, output \scan_counter[15] , 
            output n3742, output \scan_counter[12] , output n3741, output \row_scan[0] , 
            input \row_scan[2] , output \row_scan[1] , input scan_enable, 
            output \scan_counter[5] , output n30, output \scan_counter[16] , 
            output \scan_counter[2] , output \scan_counter[1] , input int_osc, 
            output \scan_counter[4] , input reset_c);
    
    wire [16:0]scan_counter;
    (* is_clock=1 *) wire int_osc;
    
    wire n2064, n3743, n957, n974, n2189, n3738, n4094, n3145, 
        n954, n3739, n3744, n3144, n942, n3541, n2211, n990;
    
    (* lut_function="(A (B (C)))" *) LUT4 i2_3_lut (.A(scan_counter[6]), .B(scan_counter[9]), 
            .C(scan_counter[13]), .Z(n957));
    defparam i2_3_lut.INIT = "0x8080";
    (* lut_function="(A+(B))" *) LUT4 i1890_2_lut (.A(scan_counter[7]), .B(scan_counter[10]), 
            .Z(n2064));
    defparam i1890_2_lut.INIT = "0xeeee";
    (* lut_function="(A (B))" *) LUT4 i1_rep_17_2_lut (.A(scan_counter[11]), 
            .B(scan_counter[8]), .Z(n4094));
    defparam i1_rep_17_2_lut.INIT = "0x8888";
    (* lut_function="(!(A+!(B (C))))" *) LUT4 i3421_3_lut (.A(n3145), .B(n954), 
            .C(scan_counter[14]), .Z(n3743));
    defparam i3421_3_lut.INIT = "0x4040";
    (* lut_function="(!(A+((C+!(D))+!B)))" *) LUT4 i3431_4_lut (.A(scan_counter[8]), 
            .B(n957), .C(scan_counter[11]), .D(n954), .Z(n3739));
    defparam i3431_4_lut.INIT = "0x0400";
    (* lut_function="(!(A+(B+!(C (D)))))" *) LUT4 i3429_4_lut (.A(n2064), 
            .B(n3145), .C(scan_counter[11]), .D(scan_counter[8]), .Z(n3738));
    defparam i3429_4_lut.INIT = "0x1000";
    (* lut_function="(!(A+!(B (C+!(D))+!B (C (D)))))" *) LUT4 i3425_4_lut (.A(\scan_counter[15] ), 
            .B(n3738), .C(n3739), .D(scan_counter[14]), .Z(n3742));
    defparam i3425_4_lut.INIT = "0x5044";
    (* lut_function="(A (B (C+!(D)))+!A (B (C (D))))" *) LUT4 i3422_4_lut (.A(n3743), 
            .B(n4094), .C(n3744), .D(\scan_counter[15] ), .Z(n3741));
    defparam i3422_4_lut.INIT = "0xc088";
    (* lut_function="(!((B (C+(D))+!B (C+!(D)))+!A))" *) LUT4 i1_4_lut (.A(n2299), 
            .B(\row_scan[0] ), .C(\row_scan[2] ), .D(\row_scan[1] ), .Z(row_scan_idx[1]));
    defparam i1_4_lut.INIT = "0x0208";
    (* lut_function="(A (B))" *) LUT4 i441_2_lut (.A(scan_counter[11]), .B(\scan_counter[12] ), 
            .Z(n942));
    defparam i441_2_lut.INIT = "0x8888";
    (* lut_function="(A (B+(C (D)))+!A (B))" *) LUT4 i178_4_lut (.A(n3541), 
            .B(scan_counter[14]), .C(scan_counter[13]), .D(n942), .Z(n30));
    defparam i178_4_lut.INIT = "0xeccc";
    (* lut_function="(A (B)+!A (B (C (D))))" *) LUT4 i2115_4_lut (.A(scan_counter[13]), 
            .B(scan_counter[14]), .C(n2211), .D(n974), .Z(n2291));
    defparam i2115_4_lut.INIT = "0xc888";
    (* lut_function="(!(A (B+!(C+(D)))+!A (B+!(C))))" *) LUT4 row_scan_1__I_0_4_lut (.A(n30), 
            .B(\row_scan[0] ), .C(\scan_counter[16] ), .D(\scan_counter[15] ), 
            .Z(\row_scan[1] ));
    defparam row_scan_1__I_0_4_lut.INIT = "0x3230";
    (* lut_function="(A+(B+(C)))" *) LUT4 i2_3_lut_adj_5 (.A(\scan_counter[15] ), 
            .B(scan_counter[14]), .C(scan_counter[13]), .Z(n990));
    defparam i2_3_lut_adj_5.INIT = "0xfefe";
    (* lut_function="(A+(B+(C (D))))" *) LUT4 i2_4_lut (.A(scan_counter[10]), 
            .B(scan_counter[9]), .C(scan_counter[8]), .D(n2189), .Z(n3144));
    defparam i2_4_lut.INIT = "0xfeee";
    (* lut_function="(A (B (C+(D)))+!A (B (C)))" *) LUT4 row_scan_0__I_0_4_lut (.A(n3144), 
            .B(\scan_counter[16] ), .C(n990), .D(n942), .Z(\row_scan[0] ));
    defparam row_scan_0__I_0_4_lut.INIT = "0xc8c0";
    (* lut_function="(A+(B+(C)))" *) LUT4 i2_3_lut_adj_6 (.A(\scan_counter[16] ), 
            .B(n2291), .C(\scan_counter[15] ), .Z(n2299));
    defparam i2_3_lut_adj_6.INIT = "0xfefe";
    (* lut_function="(!((B (C+(D))+!B (C+!(D)))+!A))" *) LUT4 i1_4_lut_adj_7 (.A(n2299), 
            .B(\row_scan[0] ), .C(\row_scan[1] ), .D(\row_scan[2] ), .Z(row_scan_idx[0]));
    defparam i1_4_lut_adj_7.INIT = "0x0208";
    (* lut_function="(A (B (C)))" *) LUT4 i1_2_lut_3_lut (.A(scan_counter[10]), 
            .B(scan_counter[11]), .C(\scan_counter[12] ), .Z(n974));
    defparam i1_2_lut_3_lut.INIT = "0x8080";
    (* lut_function="(!(A+(B+((D)+!C))))" *) LUT4 i3435_3_lut_4_lut (.A(scan_counter[7]), 
            .B(scan_counter[10]), .C(n957), .D(scan_counter[14]), .Z(n3744));
    defparam i3435_3_lut_4_lut.INIT = "0x0010";
    (* LSE_LINE_FILE_ID=39, LSE_LCOL=4, LSE_RCOL=6, LSE_LLINE=21, LSE_RLINE=26 *) \lab2_ta_counter(WIDTH=17,MAX_COUNT=95999)  i_SCAN_COUNTER ({\scan_counter[16] , 
            \scan_counter[15] , scan_counter[14:13], \scan_counter[12] , 
            scan_counter[11:6], \scan_counter[5] , \scan_counter[4] , 
            \scan_counter[3] , \scan_counter[2] , \scan_counter[1] , \scan_counter[0] }, 
            scan_enable, int_osc, reset_c, n954, n3145, n3541, n2211, 
            n2189);
    
endmodule

//
// Verilog Description of module \lab2_ta_counter(WIDTH=17,MAX_COUNT=95999) 
//

module \lab2_ta_counter(WIDTH=17,MAX_COUNT=95999)  (output [16:0]scan_counter, 
            input scan_enable, input int_osc, input reset_c, output n954, 
            output n3145, output n3541, output n2211, output n2189);
    
    (* is_clock=1 *) wire int_osc;
    wire scan_reset_master;
    
    wire GND_net, VCC_net, n2876;
    wire [16:0]n73;
    
    wire n3615, n2874;
    wire [16:0]n92;
    
    wire n4302, n4251, n3621, n2872, n4299, n3619, n4290, n4305, 
        n2864, n4284, n3382, n3625, n33, n2868, n4296, n2870, 
        n2862, n4293, n2866, n4287;
    
    FA2 counter_276_add_4_15 (.A0(GND_net), .B0(GND_net), .C0(scan_counter[13]), 
        .D0(n2874), .CI0(n2874), .A1(GND_net), .B1(GND_net), .C1(scan_counter[14]), 
        .D1(n4302), .CI1(n4302), .CO0(n4302), .CO1(n2876), .S0(n73[13]), 
        .S1(n73[14]));
    defparam counter_276_add_4_15.INIT0 = "0xc33c";
    defparam counter_276_add_4_15.INIT1 = "0xc33c";
    FA2 counter_276_add_4_13 (.A0(GND_net), .B0(GND_net), .C0(scan_counter[11]), 
        .D0(n2872), .CI0(n2872), .A1(GND_net), .B1(GND_net), .C1(scan_counter[12]), 
        .D1(n4299), .CI1(n4299), .CO0(n4299), .CO1(n2874), .S0(n73[11]), 
        .S1(n73[12]));
    defparam counter_276_add_4_13.INIT0 = "0xc33c";
    defparam counter_276_add_4_13.INIT1 = "0xc33c";
    (* lut_function="(A (B (C)))" *) LUT4 i3303_3_lut (.A(scan_counter[10]), 
            .B(scan_counter[6]), .C(scan_counter[12]), .Z(n3615));
    defparam i3303_3_lut.INIT = "0x8080";
    (* lut_function="(A (B (C)))" *) LUT4 i3307_3_lut (.A(scan_counter[13]), 
            .B(scan_counter[9]), .C(scan_counter[3]), .Z(n3619));
    defparam i3307_3_lut.INIT = "0x8080";
    (* lut_function="(A (B (C (D))))" *) LUT4 i3309_4_lut (.A(scan_counter[2]), 
            .B(scan_counter[7]), .C(scan_counter[0]), .D(scan_counter[1]), 
            .Z(n3621));
    defparam i3309_4_lut.INIT = "0x8000";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_276__i16 (.D(n92[16]), .SP(scan_enable), 
            .CK(int_osc), .SR(scan_reset_master), .Q(scan_counter[16]));
    defparam counter_276__i16.REGSET = "RESET";
    defparam counter_276__i16.SRMODE = "ASYNC";
    (* lut_function="(A+(B+(C+!(D))))" *) LUT4 i3_4_lut (.A(scan_counter[8]), 
            .B(scan_counter[11]), .C(scan_counter[15]), .D(n3615), .Z(n3382));
    defparam i3_4_lut.INIT = "0xfeff";
    (* lut_function="(A (B (C (D))))" *) LUT4 i3313_4_lut (.A(n3621), .B(scan_counter[4]), 
            .C(n3619), .D(scan_counter[5]), .Z(n3625));
    defparam i3313_4_lut.INIT = "0x8000";
    (* lut_function="((B+!(C (D)))+!A)" *) LUT4 i1_4_lut (.A(n3625), .B(n3382), 
            .C(scan_counter[16]), .D(scan_counter[14]), .Z(n33));
    defparam i1_4_lut.INIT = "0xdfff";
    (* lut_function="(!(A (B)))" *) LUT4 i3505_2_lut (.A(scan_enable), .B(reset_c), 
            .Z(scan_reset_master));
    defparam i3505_2_lut.INIT = "0x7777";
    (* lut_function="(A (B))" *) LUT4 i1968_2_lut (.A(n73[0]), .B(n33), 
            .Z(n92[0]));
    defparam i1968_2_lut.INIT = "0x8888";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_276__i15 (.D(n92[15]), .SP(scan_enable), 
            .CK(int_osc), .SR(scan_reset_master), .Q(scan_counter[15]));
    defparam counter_276__i15.REGSET = "RESET";
    defparam counter_276__i15.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_276__i14 (.D(n92[14]), .SP(scan_enable), 
            .CK(int_osc), .SR(scan_reset_master), .Q(scan_counter[14]));
    defparam counter_276__i14.REGSET = "RESET";
    defparam counter_276__i14.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_276__i13 (.D(n92[13]), .SP(scan_enable), 
            .CK(int_osc), .SR(scan_reset_master), .Q(scan_counter[13]));
    defparam counter_276__i13.REGSET = "RESET";
    defparam counter_276__i13.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_276__i12 (.D(n92[12]), .SP(scan_enable), 
            .CK(int_osc), .SR(scan_reset_master), .Q(scan_counter[12]));
    defparam counter_276__i12.REGSET = "RESET";
    defparam counter_276__i12.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_276__i11 (.D(n92[11]), .SP(scan_enable), 
            .CK(int_osc), .SR(scan_reset_master), .Q(scan_counter[11]));
    defparam counter_276__i11.REGSET = "RESET";
    defparam counter_276__i11.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_276__i10 (.D(n92[10]), .SP(scan_enable), 
            .CK(int_osc), .SR(scan_reset_master), .Q(scan_counter[10]));
    defparam counter_276__i10.REGSET = "RESET";
    defparam counter_276__i10.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_276__i9 (.D(n92[9]), .SP(scan_enable), 
            .CK(int_osc), .SR(scan_reset_master), .Q(scan_counter[9]));
    defparam counter_276__i9.REGSET = "RESET";
    defparam counter_276__i9.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_276__i8 (.D(n92[8]), .SP(scan_enable), 
            .CK(int_osc), .SR(scan_reset_master), .Q(scan_counter[8]));
    defparam counter_276__i8.REGSET = "RESET";
    defparam counter_276__i8.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_276__i7 (.D(n92[7]), .SP(scan_enable), 
            .CK(int_osc), .SR(scan_reset_master), .Q(scan_counter[7]));
    defparam counter_276__i7.REGSET = "RESET";
    defparam counter_276__i7.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_276__i6 (.D(n92[6]), .SP(scan_enable), 
            .CK(int_osc), .SR(scan_reset_master), .Q(scan_counter[6]));
    defparam counter_276__i6.REGSET = "RESET";
    defparam counter_276__i6.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_276__i5 (.D(n92[5]), .SP(scan_enable), 
            .CK(int_osc), .SR(scan_reset_master), .Q(scan_counter[5]));
    defparam counter_276__i5.REGSET = "RESET";
    defparam counter_276__i5.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_276__i4 (.D(n92[4]), .SP(scan_enable), 
            .CK(int_osc), .SR(scan_reset_master), .Q(scan_counter[4]));
    defparam counter_276__i4.REGSET = "RESET";
    defparam counter_276__i4.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_276__i3 (.D(n92[3]), .SP(scan_enable), 
            .CK(int_osc), .SR(scan_reset_master), .Q(scan_counter[3]));
    defparam counter_276__i3.REGSET = "RESET";
    defparam counter_276__i3.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_276__i2 (.D(n92[2]), .SP(scan_enable), 
            .CK(int_osc), .SR(scan_reset_master), .Q(scan_counter[2]));
    defparam counter_276__i2.REGSET = "RESET";
    defparam counter_276__i2.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_276__i1 (.D(n92[1]), .SP(scan_enable), 
            .CK(int_osc), .SR(scan_reset_master), .Q(scan_counter[1]));
    defparam counter_276__i1.REGSET = "RESET";
    defparam counter_276__i1.SRMODE = "ASYNC";
    VLO i1 (.Z(GND_net));
    (* lut_function="(A (B))" *) LUT4 i1_2_lut (.A(scan_counter[10]), .B(scan_counter[7]), 
            .Z(n954));
    defparam i1_2_lut.INIT = "0x8888";
    (* lut_function="(A+(B+(C)))" *) LUT4 i2_3_lut (.A(scan_counter[13]), 
            .B(scan_counter[6]), .C(scan_counter[9]), .Z(n3145));
    defparam i2_3_lut.INIT = "0xfefe";
    (* lut_function="(A (B (C+(D))+!B (C))+!A (C))" *) LUT4 i3229_3_lut_4_lut (.A(scan_counter[8]), 
            .B(scan_counter[7]), .C(scan_counter[10]), .D(scan_counter[9]), 
            .Z(n3541));
    defparam i3229_3_lut_4_lut.INIT = "0xf8f0";
    (* lut_function="(A (B (C+(D))+!B (D))+!A (D))" *) LUT4 i2036_3_lut_4_lut (.A(scan_counter[8]), 
            .B(scan_counter[7]), .C(scan_counter[6]), .D(scan_counter[9]), 
            .Z(n2211));
    defparam i2036_3_lut_4_lut.INIT = "0xff80";
    FA2 counter_276_add_4_3 (.A0(GND_net), .B0(GND_net), .C0(scan_counter[1]), 
        .D0(n2862), .CI0(n2862), .A1(GND_net), .B1(GND_net), .C1(scan_counter[2]), 
        .D1(n4284), .CI1(n4284), .CO0(n4284), .CO1(n2864), .S0(n73[1]), 
        .S1(n73[2]));
    defparam counter_276_add_4_3.INIT0 = "0xc33c";
    defparam counter_276_add_4_3.INIT1 = "0xc33c";
    (* lut_function="(A+(B))" *) LUT4 i2014_2_lut (.A(scan_counter[7]), .B(scan_counter[6]), 
            .Z(n2189));
    defparam i2014_2_lut.INIT = "0xeeee";
    FA2 counter_276_add_4_1 (.A0(GND_net), .B0(GND_net), .C0(GND_net), 
        .A1(GND_net), .B1(VCC_net), .C1(scan_counter[0]), .D1(n4251), 
        .CI1(n4251), .CO0(n4251), .CO1(n2862), .S1(n73[0]));
    defparam counter_276_add_4_1.INIT0 = "0xc33c";
    defparam counter_276_add_4_1.INIT1 = "0xc33c";
    FA2 counter_276_add_4_11 (.A0(GND_net), .B0(GND_net), .C0(scan_counter[9]), 
        .D0(n2870), .CI0(n2870), .A1(GND_net), .B1(GND_net), .C1(scan_counter[10]), 
        .D1(n4296), .CI1(n4296), .CO0(n4296), .CO1(n2872), .S0(n73[9]), 
        .S1(n73[10]));
    defparam counter_276_add_4_11.INIT0 = "0xc33c";
    defparam counter_276_add_4_11.INIT1 = "0xc33c";
    FA2 counter_276_add_4_9 (.A0(GND_net), .B0(GND_net), .C0(scan_counter[7]), 
        .D0(n2868), .CI0(n2868), .A1(GND_net), .B1(GND_net), .C1(scan_counter[8]), 
        .D1(n4293), .CI1(n4293), .CO0(n4293), .CO1(n2870), .S0(n73[7]), 
        .S1(n73[8]));
    defparam counter_276_add_4_9.INIT0 = "0xc33c";
    defparam counter_276_add_4_9.INIT1 = "0xc33c";
    FA2 counter_276_add_4_7 (.A0(GND_net), .B0(GND_net), .C0(scan_counter[5]), 
        .D0(n2866), .CI0(n2866), .A1(GND_net), .B1(GND_net), .C1(scan_counter[6]), 
        .D1(n4290), .CI1(n4290), .CO0(n4290), .CO1(n2868), .S0(n73[5]), 
        .S1(n73[6]));
    defparam counter_276_add_4_7.INIT0 = "0xc33c";
    defparam counter_276_add_4_7.INIT1 = "0xc33c";
    FA2 counter_276_add_4_5 (.A0(GND_net), .B0(GND_net), .C0(scan_counter[3]), 
        .D0(n2864), .CI0(n2864), .A1(GND_net), .B1(GND_net), .C1(scan_counter[4]), 
        .D1(n4287), .CI1(n4287), .CO0(n4287), .CO1(n2866), .S0(n73[3]), 
        .S1(n73[4]));
    defparam counter_276_add_4_5.INIT0 = "0xc33c";
    defparam counter_276_add_4_5.INIT1 = "0xc33c";
    FA2 counter_276_add_4_17 (.A0(GND_net), .B0(GND_net), .C0(scan_counter[15]), 
        .D0(n2876), .CI0(n2876), .A1(GND_net), .B1(GND_net), .C1(scan_counter[16]), 
        .D1(n4305), .CI1(n4305), .CO0(n4305), .S0(n73[15]), .S1(n73[16]));
    defparam counter_276_add_4_17.INIT0 = "0xc33c";
    defparam counter_276_add_4_17.INIT1 = "0xc33c";
    (* lut_function="(A (B))" *) LUT4 i1963_2_lut (.A(n73[1]), .B(n33), 
            .Z(n92[1]));
    defparam i1963_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i1962_2_lut (.A(n73[2]), .B(n33), 
            .Z(n92[2]));
    defparam i1962_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i1961_2_lut (.A(n73[3]), .B(n33), 
            .Z(n92[3]));
    defparam i1961_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i1960_2_lut (.A(n73[4]), .B(n33), 
            .Z(n92[4]));
    defparam i1960_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i1959_2_lut (.A(n73[5]), .B(n33), 
            .Z(n92[5]));
    defparam i1959_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i1958_2_lut (.A(n73[6]), .B(n33), 
            .Z(n92[6]));
    defparam i1958_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i1957_2_lut (.A(n73[7]), .B(n33), 
            .Z(n92[7]));
    defparam i1957_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i1956_2_lut (.A(n73[8]), .B(n33), 
            .Z(n92[8]));
    defparam i1956_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i1955_2_lut (.A(n73[9]), .B(n33), 
            .Z(n92[9]));
    defparam i1955_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i1954_2_lut (.A(n73[10]), .B(n33), 
            .Z(n92[10]));
    defparam i1954_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i1953_2_lut (.A(n73[11]), .B(n33), 
            .Z(n92[11]));
    defparam i1953_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i1952_2_lut (.A(n73[12]), .B(n33), 
            .Z(n92[12]));
    defparam i1952_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i1951_2_lut (.A(n73[13]), .B(n33), 
            .Z(n92[13]));
    defparam i1951_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i1950_2_lut (.A(n73[14]), .B(n33), 
            .Z(n92[14]));
    defparam i1950_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i1949_2_lut (.A(n73[15]), .B(n33), 
            .Z(n92[15]));
    defparam i1949_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i1948_2_lut (.A(n73[16]), .B(n33), 
            .Z(n92[16]));
    defparam i1948_2_lut.INIT = "0x8888";
    VHI i2 (.Z(VCC_net));
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_276__i0 (.D(n92[0]), .SP(scan_enable), 
            .CK(int_osc), .SR(scan_reset_master), .Q(scan_counter[0]));
    defparam counter_276__i0.REGSET = "RESET";
    defparam counter_276__i0.SRMODE = "ASYNC";
    
endmodule

//
// Verilog Description of module \lab2_ta_counter(WIDTH=18,MAX_COUNT=200000) 
//

module \lab2_ta_counter(WIDTH=18,MAX_COUNT=200000)  (input int_osc, input enable_c, 
            output hex_counter_5__N_120, input n915, output \hex_counter[14] , 
            output \hex_counter[13] , output \hex_counter[11] , output \hex_counter[12] , 
            output \hex_counter[10] , output \hex_counter[7] , output \hex_counter[9] , 
            output \hex_counter[15] , output \hex_counter[17] , output \hex_counter[16] , 
            output \hex_counter[8] , output \hex_counter[5] , output \hex_counter[6] , 
            input reset_c);
    
    (* is_clock=1 *) wire int_osc;
    
    wire GND_net, VCC_net;
    wire [17:0]n78;
    
    wire n17, n4239, n2905, n2913, n4230, n15_adj_180, n18;
    wire [17:0]n59;
    
    wire n2915, n4311, n4308, n4236, n15, n35, n16_adj_181, n4245, 
        n4242, n2911, n4248, n16, n14, n2909, n10, n2907, n4227, 
        n3611, n3613, n2903, n2901, n4233, n2899;
    
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_275__i14 (.D(n78[13]), .SP(enable_c), 
            .CK(int_osc), .SR(hex_counter_5__N_120), .Q(\hex_counter[13] ));
    defparam counter_275__i14.REGSET = "RESET";
    defparam counter_275__i14.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_275__i13 (.D(n78[12]), .SP(enable_c), 
            .CK(int_osc), .SR(hex_counter_5__N_120), .Q(\hex_counter[12] ));
    defparam counter_275__i13.REGSET = "RESET";
    defparam counter_275__i13.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_275__i12 (.D(n78[11]), .SP(enable_c), 
            .CK(int_osc), .SR(hex_counter_5__N_120), .Q(\hex_counter[11] ));
    defparam counter_275__i12.REGSET = "RESET";
    defparam counter_275__i12.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_275__i11 (.D(n78[10]), .SP(enable_c), 
            .CK(int_osc), .SR(hex_counter_5__N_120), .Q(\hex_counter[10] ));
    defparam counter_275__i11.REGSET = "RESET";
    defparam counter_275__i11.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_275__i10 (.D(n78[9]), .SP(enable_c), 
            .CK(int_osc), .SR(hex_counter_5__N_120), .Q(\hex_counter[9] ));
    defparam counter_275__i10.REGSET = "RESET";
    defparam counter_275__i10.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_275__i9 (.D(n78[8]), .SP(enable_c), 
            .CK(int_osc), .SR(hex_counter_5__N_120), .Q(\hex_counter[8] ));
    defparam counter_275__i9.REGSET = "RESET";
    defparam counter_275__i9.SRMODE = "ASYNC";
    FA2 counter_275_add_4_19 (.A0(GND_net), .B0(GND_net), .C0(\hex_counter[17] ), 
        .D0(n2915), .CI0(n2915), .A1(GND_net), .B1(GND_net), .C1(GND_net), 
        .D1(n4311), .CI1(n4311), .CO0(n4311), .S0(n59[17]));
    defparam counter_275_add_4_19.INIT0 = "0xc33c";
    defparam counter_275_add_4_19.INIT1 = "0xc33c";
    FA2 counter_275_add_4_17 (.A0(GND_net), .B0(GND_net), .C0(\hex_counter[15] ), 
        .D0(n2913), .CI0(n2913), .A1(GND_net), .B1(GND_net), .C1(\hex_counter[16] ), 
        .D1(n4308), .CI1(n4308), .CO0(n4308), .CO1(n2915), .S0(n59[15]), 
        .S1(n59[16]));
    defparam counter_275_add_4_17.INIT0 = "0xc33c";
    defparam counter_275_add_4_17.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_275__i8 (.D(n78[7]), .SP(enable_c), 
            .CK(int_osc), .SR(hex_counter_5__N_120), .Q(\hex_counter[7] ));
    defparam counter_275__i8.REGSET = "RESET";
    defparam counter_275__i8.SRMODE = "ASYNC";
    (* lut_function="(A (B))" *) LUT4 i1820_2_lut (.A(n59[1]), .B(n35), 
            .Z(n78[1]));
    defparam i1820_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i1821_2_lut (.A(n59[2]), .B(n35), 
            .Z(n78[2]));
    defparam i1821_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i1937_2_lut (.A(n59[3]), .B(n35), 
            .Z(n78[3]));
    defparam i1937_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i1936_2_lut (.A(n59[4]), .B(n35), 
            .Z(n78[4]));
    defparam i1936_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i1925_2_lut (.A(n59[5]), .B(n35), 
            .Z(n78[5]));
    defparam i1925_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i1924_2_lut (.A(n59[6]), .B(n35), 
            .Z(n78[6]));
    defparam i1924_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i1923_2_lut (.A(n59[7]), .B(n35), 
            .Z(n78[7]));
    defparam i1923_2_lut.INIT = "0x8888";
    FA2 counter_275_add_4_15 (.A0(GND_net), .B0(GND_net), .C0(\hex_counter[13] ), 
        .D0(n2911), .CI0(n2911), .A1(GND_net), .B1(GND_net), .C1(\hex_counter[14] ), 
        .D1(n4248), .CI1(n4248), .CO0(n4248), .CO1(n2913), .S0(n59[13]), 
        .S1(n59[14]));
    defparam counter_275_add_4_15.INIT0 = "0xc33c";
    defparam counter_275_add_4_15.INIT1 = "0xc33c";
    (* lut_function="(A (B))" *) LUT4 i1922_2_lut (.A(n59[8]), .B(n35), 
            .Z(n78[8]));
    defparam i1922_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i1921_2_lut (.A(n59[9]), .B(n35), 
            .Z(n78[9]));
    defparam i1921_2_lut.INIT = "0x8888";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_275__i7 (.D(n78[6]), .SP(enable_c), 
            .CK(int_osc), .SR(hex_counter_5__N_120), .Q(\hex_counter[6] ));
    defparam counter_275__i7.REGSET = "RESET";
    defparam counter_275__i7.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_275__i6 (.D(n78[5]), .SP(enable_c), 
            .CK(int_osc), .SR(hex_counter_5__N_120), .Q(\hex_counter[5] ));
    defparam counter_275__i6.REGSET = "RESET";
    defparam counter_275__i6.SRMODE = "ASYNC";
    FA2 counter_275_add_4_13 (.A0(GND_net), .B0(GND_net), .C0(\hex_counter[11] ), 
        .D0(n2909), .CI0(n2909), .A1(GND_net), .B1(GND_net), .C1(\hex_counter[12] ), 
        .D1(n4245), .CI1(n4245), .CO0(n4245), .CO1(n2911), .S0(n59[11]), 
        .S1(n59[12]));
    defparam counter_275_add_4_13.INIT0 = "0xc33c";
    defparam counter_275_add_4_13.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_275__i5 (.D(n78[4]), .SP(enable_c), 
            .CK(int_osc), .SR(hex_counter_5__N_120), .Q(n14));
    defparam counter_275__i5.REGSET = "RESET";
    defparam counter_275__i5.SRMODE = "ASYNC";
    FA2 counter_275_add_4_11 (.A0(GND_net), .B0(GND_net), .C0(\hex_counter[9] ), 
        .D0(n2907), .CI0(n2907), .A1(GND_net), .B1(GND_net), .C1(\hex_counter[10] ), 
        .D1(n4242), .CI1(n4242), .CO0(n4242), .CO1(n2909), .S0(n59[9]), 
        .S1(n59[10]));
    defparam counter_275_add_4_11.INIT0 = "0xc33c";
    defparam counter_275_add_4_11.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_275__i4 (.D(n78[3]), .SP(enable_c), 
            .CK(int_osc), .SR(hex_counter_5__N_120), .Q(n15_adj_180));
    defparam counter_275__i4.REGSET = "RESET";
    defparam counter_275__i4.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_275__i3 (.D(n78[2]), .SP(enable_c), 
            .CK(int_osc), .SR(hex_counter_5__N_120), .Q(n16_adj_181));
    defparam counter_275__i3.REGSET = "RESET";
    defparam counter_275__i3.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_275__i2 (.D(n78[1]), .SP(enable_c), 
            .CK(int_osc), .SR(hex_counter_5__N_120), .Q(n17));
    defparam counter_275__i2.REGSET = "RESET";
    defparam counter_275__i2.SRMODE = "ASYNC";
    (* lut_function="(A (B))" *) LUT4 i1920_2_lut (.A(n59[10]), .B(n35), 
            .Z(n78[10]));
    defparam i1920_2_lut.INIT = "0x8888";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_275__i1 (.D(n78[0]), .SP(enable_c), 
            .CK(int_osc), .SR(hex_counter_5__N_120), .Q(n18));
    defparam counter_275__i1.REGSET = "RESET";
    defparam counter_275__i1.SRMODE = "ASYNC";
    (* lut_function="(A (B))" *) LUT4 i1919_2_lut (.A(n59[11]), .B(n35), 
            .Z(n78[11]));
    defparam i1919_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i1918_2_lut (.A(n59[12]), .B(n35), 
            .Z(n78[12]));
    defparam i1918_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i1917_2_lut (.A(n59[13]), .B(n35), 
            .Z(n78[13]));
    defparam i1917_2_lut.INIT = "0x8888";
    (* lut_function="(A (B (C (D))))" *) LUT4 i3299_4_lut (.A(\hex_counter[8] ), 
            .B(\hex_counter[17] ), .C(\hex_counter[11] ), .D(\hex_counter[6] ), 
            .Z(n3611));
    defparam i3299_4_lut.INIT = "0x8000";
    (* lut_function="(A+(B))" *) LUT4 i1_2_lut (.A(n15_adj_180), .B(\hex_counter[15] ), 
            .Z(n10));
    defparam i1_2_lut.INIT = "0xeeee";
    (* lut_function="(A (B (C)))" *) LUT4 i3301_3_lut (.A(\hex_counter[10] ), 
            .B(n3611), .C(\hex_counter[16] ), .Z(n3613));
    defparam i3301_3_lut.INIT = "0x8080";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_275__i18 (.D(n78[17]), .SP(enable_c), 
            .CK(int_osc), .SR(hex_counter_5__N_120), .Q(\hex_counter[17] ));
    defparam counter_275__i18.REGSET = "RESET";
    defparam counter_275__i18.SRMODE = "ASYNC";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i7_4_lut (.A(n16_adj_181), .B(\hex_counter[5] ), 
            .C(\hex_counter[9] ), .D(n10), .Z(n16));
    defparam i7_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i6_4_lut (.A(n14), .B(\hex_counter[7] ), 
            .C(n18), .D(n17), .Z(n15));
    defparam i6_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+!(D))))" *) LUT4 i1_4_lut (.A(n15), .B(n915), 
            .C(n16), .D(n3613), .Z(n35));
    defparam i1_4_lut.INIT = "0xfeff";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_275__i17 (.D(n78[16]), .SP(enable_c), 
            .CK(int_osc), .SR(hex_counter_5__N_120), .Q(\hex_counter[16] ));
    defparam counter_275__i17.REGSET = "RESET";
    defparam counter_275__i17.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_275__i16 (.D(n78[15]), .SP(enable_c), 
            .CK(int_osc), .SR(hex_counter_5__N_120), .Q(\hex_counter[15] ));
    defparam counter_275__i16.REGSET = "RESET";
    defparam counter_275__i16.SRMODE = "ASYNC";
    (* lut_function="(A (B))" *) LUT4 i1916_2_lut (.A(n59[14]), .B(n35), 
            .Z(n78[14]));
    defparam i1916_2_lut.INIT = "0x8888";
    VLO i1 (.Z(GND_net));
    (* lut_function="(!(A))" *) LUT4 i70_1_lut (.A(reset_c), .Z(hex_counter_5__N_120));
    defparam i70_1_lut.INIT = "0x5555";
    (* lut_function="(A (B))" *) LUT4 i1915_2_lut (.A(n59[15]), .B(n35), 
            .Z(n78[15]));
    defparam i1915_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i1914_2_lut (.A(n59[16]), .B(n35), 
            .Z(n78[16]));
    defparam i1914_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i1913_2_lut (.A(n59[17]), .B(n35), 
            .Z(n78[17]));
    defparam i1913_2_lut.INIT = "0x8888";
    FA2 counter_275_add_4_9 (.A0(GND_net), .B0(GND_net), .C0(\hex_counter[7] ), 
        .D0(n2905), .CI0(n2905), .A1(GND_net), .B1(GND_net), .C1(\hex_counter[8] ), 
        .D1(n4239), .CI1(n4239), .CO0(n4239), .CO1(n2907), .S0(n59[7]), 
        .S1(n59[8]));
    defparam counter_275_add_4_9.INIT0 = "0xc33c";
    defparam counter_275_add_4_9.INIT1 = "0xc33c";
    FA2 counter_275_add_4_7 (.A0(GND_net), .B0(GND_net), .C0(\hex_counter[5] ), 
        .D0(n2903), .CI0(n2903), .A1(GND_net), .B1(GND_net), .C1(\hex_counter[6] ), 
        .D1(n4236), .CI1(n4236), .CO0(n4236), .CO1(n2905), .S0(n59[5]), 
        .S1(n59[6]));
    defparam counter_275_add_4_7.INIT0 = "0xc33c";
    defparam counter_275_add_4_7.INIT1 = "0xc33c";
    FA2 counter_275_add_4_5 (.A0(GND_net), .B0(GND_net), .C0(n15_adj_180), 
        .D0(n2901), .CI0(n2901), .A1(GND_net), .B1(GND_net), .C1(n14), 
        .D1(n4233), .CI1(n4233), .CO0(n4233), .CO1(n2903), .S0(n59[3]), 
        .S1(n59[4]));
    defparam counter_275_add_4_5.INIT0 = "0xc33c";
    defparam counter_275_add_4_5.INIT1 = "0xc33c";
    FA2 counter_275_add_4_3 (.A0(GND_net), .B0(GND_net), .C0(n17), .D0(n2899), 
        .CI0(n2899), .A1(GND_net), .B1(GND_net), .C1(n16_adj_181), .D1(n4230), 
        .CI1(n4230), .CO0(n4230), .CO1(n2901), .S0(n59[1]), .S1(n59[2]));
    defparam counter_275_add_4_3.INIT0 = "0xc33c";
    defparam counter_275_add_4_3.INIT1 = "0xc33c";
    FA2 counter_275_add_4_1 (.A0(GND_net), .B0(GND_net), .C0(GND_net), 
        .A1(GND_net), .B1(VCC_net), .C1(n18), .D1(n4227), .CI1(n4227), 
        .CO0(n4227), .CO1(n2899), .S1(n59[0]));
    defparam counter_275_add_4_1.INIT0 = "0xc33c";
    defparam counter_275_add_4_1.INIT1 = "0xc33c";
    (* lut_function="(A (B))" *) LUT4 i1993_2_lut (.A(n59[0]), .B(n35), 
            .Z(n78[0]));
    defparam i1993_2_lut.INIT = "0x8888";
    VHI i2 (.Z(VCC_net));
    (* syn_use_carry_chain=1 *) FD1P3XZ counter_275__i15 (.D(n78[14]), .SP(enable_c), 
            .CK(int_osc), .SR(hex_counter_5__N_120), .Q(\hex_counter[14] ));
    defparam counter_275__i15.REGSET = "RESET";
    defparam counter_275__i15.SRMODE = "ASYNC";
    
endmodule

//
// Verilog Description of module lab3_ta_keypad_builder
//

module lab3_ta_keypad_builder (input int_osc, output [15:0]keypad, input reset_c, 
            input [3:0]col_sync, input scan_done_N_173, input [1:0]row_scan_idx, 
            output scan_done);
    
    (* is_clock=1 *) wire int_osc;
    
    wire VCC_net, n1065, n1067, n777, n1061, n1071, n1063, n1038, 
        n3131, n820, n819, n1059, n1069, n1057, n1055, n1045, 
        n1053, n1051, n1047, n1049, n1073, GND_net;
    
    (* LSE_LINE_FILE_ID=32, LSE_LCOL=25, LSE_RCOL=5, LSE_LLINE=73, LSE_RLINE=81 *) FD1P3XZ keypad__i6 (.D(n1063), 
            .SP(VCC_net), .CK(int_osc), .SR(GND_net), .Q(keypad[6]));
    defparam keypad__i6.REGSET = "RESET";
    defparam keypad__i6.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!((B (C (D))+!B (C+!(D)))+!A))" *) LUT4 i880_4_lut (.A(reset_c), 
            .B(keypad[6]), .C(col_sync[2]), .D(n777), .Z(n1063));
    defparam i880_4_lut.INIT = "0x0a88";
    (* LSE_LINE_FILE_ID=32, LSE_LCOL=25, LSE_RCOL=5, LSE_LLINE=73, LSE_RLINE=81 *) FD1P3XZ keypad__i7 (.D(n1061), 
            .SP(VCC_net), .CK(int_osc), .SR(GND_net), .Q(keypad[7]));
    defparam keypad__i7.REGSET = "RESET";
    defparam keypad__i7.SRMODE = "CE_OVER_LSR";
    (* lut_function="(((C)+!B)+!A)" *) LUT4 i2_3_lut (.A(scan_done_N_173), 
            .B(row_scan_idx[1]), .C(row_scan_idx[0]), .Z(n3131));
    defparam i2_3_lut.INIT = "0xf7f7";
    (* lut_function="(A (B ((D)+!C)+!B !(C+(D))))" *) LUT4 i882_4_lut (.A(reset_c), 
            .B(keypad[5]), .C(col_sync[1]), .D(n3131), .Z(n1065));
    defparam i882_4_lut.INIT = "0x880a";
    (* lut_function="(A+((C)+!B))" *) LUT4 i1_2_lut_3_lut (.A(row_scan_idx[1]), 
            .B(scan_done_N_173), .C(row_scan_idx[0]), .Z(n820));
    defparam i1_2_lut_3_lut.INIT = "0xfbfb";
    (* lut_function="(A+!(B (C)))" *) LUT4 i1_2_lut_3_lut_adj_2 (.A(row_scan_idx[1]), 
            .B(scan_done_N_173), .C(row_scan_idx[0]), .Z(n819));
    defparam i1_2_lut_3_lut_adj_2.INIT = "0xbfbf";
    (* LSE_LINE_FILE_ID=32, LSE_LCOL=25, LSE_RCOL=5, LSE_LLINE=73, LSE_RLINE=81 *) FD1P3XZ keypad__i8 (.D(n1059), 
            .SP(VCC_net), .CK(int_osc), .SR(GND_net), .Q(keypad[8]));
    defparam keypad__i8.REGSET = "RESET";
    defparam keypad__i8.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=32, LSE_LCOL=25, LSE_RCOL=5, LSE_LLINE=73, LSE_RLINE=81 *) FD1P3XZ keypad__i9 (.D(n1057), 
            .SP(VCC_net), .CK(int_osc), .SR(GND_net), .Q(keypad[9]));
    defparam keypad__i9.REGSET = "RESET";
    defparam keypad__i9.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!(((C)+!B)+!A))" *) LUT4 i1_2_lut_3_lut_adj_3 (.A(row_scan_idx[1]), 
            .B(scan_done_N_173), .C(row_scan_idx[0]), .Z(n777));
    defparam i1_2_lut_3_lut_adj_3.INIT = "0x0808";
    (* lut_function="(A (B (C)))" *) LUT4 i1_2_lut_3_lut_adj_4 (.A(row_scan_idx[1]), 
            .B(scan_done_N_173), .C(row_scan_idx[0]), .Z(scan_done));
    defparam i1_2_lut_3_lut_adj_4.INIT = "0x8080";
    (* LSE_LINE_FILE_ID=32, LSE_LCOL=25, LSE_RCOL=5, LSE_LLINE=73, LSE_RLINE=81 *) FD1P3XZ keypad__i10 (.D(n1055), 
            .SP(VCC_net), .CK(int_osc), .SR(GND_net), .Q(keypad[10]));
    defparam keypad__i10.REGSET = "RESET";
    defparam keypad__i10.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=32, LSE_LCOL=25, LSE_RCOL=5, LSE_LLINE=73, LSE_RLINE=81 *) FD1P3XZ keypad__i0 (.D(n1038), 
            .SP(VCC_net), .CK(int_osc), .SR(GND_net), .Q(keypad[0]));
    defparam keypad__i0.REGSET = "RESET";
    defparam keypad__i0.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=32, LSE_LCOL=25, LSE_RCOL=5, LSE_LLINE=73, LSE_RLINE=81 *) FD1P3XZ keypad__i15 (.D(n1045), 
            .SP(VCC_net), .CK(int_osc), .SR(GND_net), .Q(keypad[15]));
    defparam keypad__i15.REGSET = "RESET";
    defparam keypad__i15.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=32, LSE_LCOL=25, LSE_RCOL=5, LSE_LLINE=73, LSE_RLINE=81 *) FD1P3XZ keypad__i11 (.D(n1053), 
            .SP(VCC_net), .CK(int_osc), .SR(GND_net), .Q(keypad[11]));
    defparam keypad__i11.REGSET = "RESET";
    defparam keypad__i11.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=32, LSE_LCOL=25, LSE_RCOL=5, LSE_LLINE=73, LSE_RLINE=81 *) FD1P3XZ keypad__i12 (.D(n1051), 
            .SP(VCC_net), .CK(int_osc), .SR(GND_net), .Q(keypad[12]));
    defparam keypad__i12.REGSET = "RESET";
    defparam keypad__i12.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=32, LSE_LCOL=25, LSE_RCOL=5, LSE_LLINE=73, LSE_RLINE=81 *) FD1P3XZ keypad__i14 (.D(n1047), 
            .SP(VCC_net), .CK(int_osc), .SR(GND_net), .Q(keypad[14]));
    defparam keypad__i14.REGSET = "RESET";
    defparam keypad__i14.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=32, LSE_LCOL=25, LSE_RCOL=5, LSE_LLINE=73, LSE_RLINE=81 *) FD1P3XZ keypad__i13 (.D(n1049), 
            .SP(VCC_net), .CK(int_osc), .SR(GND_net), .Q(keypad[13]));
    defparam keypad__i13.REGSET = "RESET";
    defparam keypad__i13.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=32, LSE_LCOL=25, LSE_RCOL=5, LSE_LLINE=73, LSE_RLINE=81 *) FD1P3XZ keypad__i4 (.D(n1067), 
            .SP(VCC_net), .CK(int_osc), .SR(GND_net), .Q(keypad[4]));
    defparam keypad__i4.REGSET = "RESET";
    defparam keypad__i4.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=32, LSE_LCOL=25, LSE_RCOL=5, LSE_LLINE=73, LSE_RLINE=81 *) FD1P3XZ keypad__i1 (.D(n1073), 
            .SP(VCC_net), .CK(int_osc), .SR(GND_net), .Q(keypad[1]));
    defparam keypad__i1.REGSET = "RESET";
    defparam keypad__i1.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=32, LSE_LCOL=25, LSE_RCOL=5, LSE_LLINE=73, LSE_RLINE=81 *) FD1P3XZ keypad__i2 (.D(n1071), 
            .SP(VCC_net), .CK(int_osc), .SR(GND_net), .Q(keypad[2]));
    defparam keypad__i2.REGSET = "RESET";
    defparam keypad__i2.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=32, LSE_LCOL=25, LSE_RCOL=5, LSE_LLINE=73, LSE_RLINE=81 *) FD1P3XZ keypad__i3 (.D(n1069), 
            .SP(VCC_net), .CK(int_osc), .SR(GND_net), .Q(keypad[3]));
    defparam keypad__i3.REGSET = "RESET";
    defparam keypad__i3.SRMODE = "CE_OVER_LSR";
    VLO i2 (.Z(GND_net));
    (* lut_function="(!((B (C (D))+!B (C+!(D)))+!A))" *) LUT4 i886_4_lut (.A(reset_c), 
            .B(keypad[3]), .C(col_sync[3]), .D(scan_done), .Z(n1069));
    defparam i886_4_lut.INIT = "0x0a88";
    (* lut_function="(!((B (C (D))+!B (C+!(D)))+!A))" *) LUT4 i888_4_lut (.A(reset_c), 
            .B(keypad[2]), .C(col_sync[2]), .D(scan_done), .Z(n1071));
    defparam i888_4_lut.INIT = "0x0a88";
    (* lut_function="(!((B (C (D))+!B (C+!(D)))+!A))" *) LUT4 i890_4_lut (.A(reset_c), 
            .B(keypad[1]), .C(col_sync[1]), .D(scan_done), .Z(n1073));
    defparam i890_4_lut.INIT = "0x0a88";
    (* lut_function="(A (B ((D)+!C)+!B !(C+(D))))" *) LUT4 i884_4_lut (.A(reset_c), 
            .B(keypad[4]), .C(col_sync[0]), .D(n3131), .Z(n1067));
    defparam i884_4_lut.INIT = "0x880a";
    (* lut_function="(A (B ((D)+!C)+!B !(C+(D))))" *) LUT4 i866_4_lut (.A(reset_c), 
            .B(keypad[13]), .C(col_sync[1]), .D(n820), .Z(n1049));
    defparam i866_4_lut.INIT = "0x880a";
    (* lut_function="(A (B ((D)+!C)+!B !(C+(D))))" *) LUT4 i864_4_lut (.A(reset_c), 
            .B(keypad[14]), .C(col_sync[2]), .D(n820), .Z(n1047));
    defparam i864_4_lut.INIT = "0x880a";
    (* lut_function="(A (B ((D)+!C)+!B !(C+(D))))" *) LUT4 i868_4_lut (.A(reset_c), 
            .B(keypad[12]), .C(col_sync[0]), .D(n820), .Z(n1051));
    defparam i868_4_lut.INIT = "0x880a";
    (* lut_function="(A (B ((D)+!C)+!B !(C+(D))))" *) LUT4 i870_4_lut (.A(reset_c), 
            .B(keypad[11]), .C(col_sync[3]), .D(n819), .Z(n1053));
    defparam i870_4_lut.INIT = "0x880a";
    (* lut_function="(A (B ((D)+!C)+!B !(C+(D))))" *) LUT4 i862_4_lut (.A(reset_c), 
            .B(keypad[15]), .C(col_sync[3]), .D(n820), .Z(n1045));
    defparam i862_4_lut.INIT = "0x880a";
    (* lut_function="(!((B (C (D))+!B (C+!(D)))+!A))" *) LUT4 i855_4_lut (.A(reset_c), 
            .B(keypad[0]), .C(col_sync[0]), .D(scan_done), .Z(n1038));
    defparam i855_4_lut.INIT = "0x0a88";
    (* lut_function="(A (B ((D)+!C)+!B !(C+(D))))" *) LUT4 i872_4_lut (.A(reset_c), 
            .B(keypad[10]), .C(col_sync[2]), .D(n819), .Z(n1055));
    defparam i872_4_lut.INIT = "0x880a";
    (* lut_function="(A (B ((D)+!C)+!B !(C+(D))))" *) LUT4 i874_4_lut (.A(reset_c), 
            .B(keypad[9]), .C(col_sync[1]), .D(n819), .Z(n1057));
    defparam i874_4_lut.INIT = "0x880a";
    (* lut_function="(A (B ((D)+!C)+!B !(C+(D))))" *) LUT4 i876_4_lut (.A(reset_c), 
            .B(keypad[8]), .C(col_sync[0]), .D(n819), .Z(n1059));
    defparam i876_4_lut.INIT = "0x880a";
    (* lut_function="(!((B (C (D))+!B (C+!(D)))+!A))" *) LUT4 i878_4_lut (.A(reset_c), 
            .B(keypad[7]), .C(col_sync[3]), .D(n777), .Z(n1061));
    defparam i878_4_lut.INIT = "0x0a88";
    (* LSE_LINE_FILE_ID=32, LSE_LCOL=25, LSE_RCOL=5, LSE_LLINE=73, LSE_RLINE=81 *) FD1P3XZ keypad__i5 (.D(n1065), 
            .SP(VCC_net), .CK(int_osc), .SR(GND_net), .Q(keypad[5]));
    defparam keypad__i5.REGSET = "RESET";
    defparam keypad__i5.SRMODE = "CE_OVER_LSR";
    VHI i1 (.Z(VCC_net));
    
endmodule

//
// Verilog Description of module lab3_ta_digit_sr
//

module lab3_ta_digit_sr (input hex_counter_5__N_120, output [3:0]dig2, output [3:0]dig1, 
            input n1092, input [3:0]hex_decoded, input int_osc);
    
    (* is_clock=1 *) wire int_osc;
    
    (* LSE_LINE_FILE_ID=32, LSE_LCOL=19, LSE_RCOL=4, LSE_LLINE=121, LSE_RLINE=128 *) FD1P3XZ digit1__i0 (.D(hex_decoded[0]), 
            .SP(n1092), .CK(int_osc), .SR(hex_counter_5__N_120), .Q(dig1[0]));
    defparam digit1__i0.REGSET = "RESET";
    defparam digit1__i0.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=32, LSE_LCOL=19, LSE_RCOL=4, LSE_LLINE=121, LSE_RLINE=128 *) FD1P3XZ digit1__i3 (.D(hex_decoded[3]), 
            .SP(n1092), .CK(int_osc), .SR(hex_counter_5__N_120), .Q(dig1[3]));
    defparam digit1__i3.REGSET = "RESET";
    defparam digit1__i3.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=32, LSE_LCOL=19, LSE_RCOL=4, LSE_LLINE=121, LSE_RLINE=128 *) FD1P3XZ digit1__i2 (.D(hex_decoded[2]), 
            .SP(n1092), .CK(int_osc), .SR(hex_counter_5__N_120), .Q(dig1[2]));
    defparam digit1__i2.REGSET = "RESET";
    defparam digit1__i2.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=32, LSE_LCOL=19, LSE_RCOL=4, LSE_LLINE=121, LSE_RLINE=128 *) FD1P3XZ digit1__i1 (.D(hex_decoded[1]), 
            .SP(n1092), .CK(int_osc), .SR(hex_counter_5__N_120), .Q(dig1[1]));
    defparam digit1__i1.REGSET = "RESET";
    defparam digit1__i1.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=32, LSE_LCOL=19, LSE_RCOL=4, LSE_LLINE=121, LSE_RLINE=128 *) FD1P3XZ digit2__i3 (.D(dig1[3]), 
            .SP(n1092), .CK(int_osc), .SR(hex_counter_5__N_120), .Q(dig2[3]));
    defparam digit2__i3.REGSET = "RESET";
    defparam digit2__i3.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=32, LSE_LCOL=19, LSE_RCOL=4, LSE_LLINE=121, LSE_RLINE=128 *) FD1P3XZ digit2__i2 (.D(dig1[2]), 
            .SP(n1092), .CK(int_osc), .SR(hex_counter_5__N_120), .Q(dig2[2]));
    defparam digit2__i2.REGSET = "RESET";
    defparam digit2__i2.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=32, LSE_LCOL=19, LSE_RCOL=4, LSE_LLINE=121, LSE_RLINE=128 *) FD1P3XZ digit2__i1 (.D(dig1[1]), 
            .SP(n1092), .CK(int_osc), .SR(hex_counter_5__N_120), .Q(dig2[1]));
    defparam digit2__i1.REGSET = "RESET";
    defparam digit2__i1.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=32, LSE_LCOL=19, LSE_RCOL=4, LSE_LLINE=121, LSE_RLINE=128 *) FD1P3XZ digit2__i0 (.D(dig1[0]), 
            .SP(n1092), .CK(int_osc), .SR(hex_counter_5__N_120), .Q(dig2[0]));
    defparam digit2__i0.REGSET = "RESET";
    defparam digit2__i0.SRMODE = "CE_OVER_LSR";
    
endmodule

//
// Verilog Description of module lab1_ta_hex_seg_decoder
//

module lab1_ta_hex_seg_decoder (input [3:0]s, output [6:0]seg_c);
    
    
    (* lut_function="(A (B (C)+!B !(C+(D)))+!A !(B (C)+!B !(C (D))))" *) LUT4 n3979_bdd_4_lut_4_lut_4_lut_4_lut (.A(s[2]), 
            .B(s[0]), .C(s[1]), .D(s[3]), .Z(seg_c[3]));
    defparam n3979_bdd_4_lut_4_lut_4_lut_4_lut.INIT = "0x9486";
    (* lut_function="(!(A (B+!(C (D)+!C !(D)))+!A !(B (C (D))+!B !(C+!(D)))))" *) LUT4 s_3__I_0_4_lut (.A(s[2]), 
            .B(s[1]), .C(s[3]), .D(s[0]), .Z(seg_c[0]));
    defparam s_3__I_0_4_lut.INIT = "0x6102";
    (* lut_function="(A (B (D)+!B !((D)+!C))+!A (B (C)+!B (C (D))))" *) LUT4 seg_c_1__I_0_4_lut (.A(s[0]), 
            .B(s[3]), .C(s[2]), .D(s[1]), .Z(seg_c[1]));
    defparam seg_c_1__I_0_4_lut.INIT = "0xd860";
    (* lut_function="(A (B (C (D)))+!A (B (D)+!B !((D)+!C)))" *) LUT4 seg_c_2__I_0_4_lut (.A(s[0]), 
            .B(s[3]), .C(s[1]), .D(s[2]), .Z(seg_c[2]));
    defparam seg_c_2__I_0_4_lut.INIT = "0xc410";
    (* lut_function="(!(A (B+!(C))+!A (B ((D)+!C)+!B !(C+(D)))))" *) LUT4 seg_c_4__I_0_4_lut (.A(s[1]), 
            .B(s[3]), .C(s[0]), .D(s[2]), .Z(seg_c[4]));
    defparam seg_c_4__I_0_4_lut.INIT = "0x3170";
    (* lut_function="(!(A (B+!((D)+!C))+!A !(B (C (D))+!B !(C+!(D)))))" *) LUT4 seg_c_5__I_0_4_lut (.A(s[1]), 
            .B(s[3]), .C(s[2]), .D(s[0]), .Z(seg_c[5]));
    defparam seg_c_5__I_0_4_lut.INIT = "0x6302";
    (* lut_function="(!(A ((C+!(D))+!B)+!A (B (C+(D))+!B !(C (D)+!C !(D)))))" *) LUT4 seg_c_6__I_0_4_lut (.A(s[1]), 
            .B(s[0]), .C(s[3]), .D(s[2]), .Z(seg_c[6]));
    defparam seg_c_6__I_0_4_lut.INIT = "0x1805";
    
endmodule

//
// Verilog Description of module lab3_ta_sync
//

module lab3_ta_sync (output [3:0]col_sync, input [3:0]col_raw_c, input int_osc);
    
    wire [3:0]n1;
    (* is_clock=1 *) wire int_osc;
    
    wire VCC_net, GND_net;
    
    (* LSE_LINE_FILE_ID=32, LSE_LCOL=15, LSE_RCOL=5, LSE_LLINE=56, LSE_RLINE=60 *) FD1P3XZ q_i3 (.D(n1[3]), 
            .SP(VCC_net), .CK(int_osc), .SR(GND_net), .Q(col_sync[3]));
    defparam q_i3.REGSET = "RESET";
    defparam q_i3.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=32, LSE_LCOL=15, LSE_RCOL=5, LSE_LLINE=56, LSE_RLINE=60 *) IOL_B n1_i2 (.PADDI(col_raw_c[2]), 
            .DO1(GND_net), .DO0(GND_net), .CE(VCC_net), .IOLTO(GND_net), 
            .HOLD(GND_net), .INCLK(int_osc), .OUTCLK(GND_net), .DI0(n1[2]));
    defparam n1_i2.LATCHIN = "NONE_REG";
    defparam n1_i2.DDROUT = "NO";
    (* LSE_LINE_FILE_ID=32, LSE_LCOL=15, LSE_RCOL=5, LSE_LLINE=56, LSE_RLINE=60 *) IOL_B n1_i1 (.PADDI(col_raw_c[1]), 
            .DO1(GND_net), .DO0(GND_net), .CE(VCC_net), .IOLTO(GND_net), 
            .HOLD(GND_net), .INCLK(int_osc), .OUTCLK(GND_net), .DI0(n1[1]));
    defparam n1_i1.LATCHIN = "NONE_REG";
    defparam n1_i1.DDROUT = "NO";
    (* LSE_LINE_FILE_ID=32, LSE_LCOL=15, LSE_RCOL=5, LSE_LLINE=56, LSE_RLINE=60 *) IOL_B n1_i0 (.PADDI(col_raw_c[0]), 
            .DO1(GND_net), .DO0(GND_net), .CE(VCC_net), .IOLTO(GND_net), 
            .HOLD(GND_net), .INCLK(int_osc), .OUTCLK(GND_net), .DI0(n1[0]));
    defparam n1_i0.LATCHIN = "NONE_REG";
    defparam n1_i0.DDROUT = "NO";
    (* LSE_LINE_FILE_ID=32, LSE_LCOL=15, LSE_RCOL=5, LSE_LLINE=56, LSE_RLINE=60 *) FD1P3XZ q_i2 (.D(n1[2]), 
            .SP(VCC_net), .CK(int_osc), .SR(GND_net), .Q(col_sync[2]));
    defparam q_i2.REGSET = "RESET";
    defparam q_i2.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=32, LSE_LCOL=15, LSE_RCOL=5, LSE_LLINE=56, LSE_RLINE=60 *) FD1P3XZ q_i1 (.D(n1[1]), 
            .SP(VCC_net), .CK(int_osc), .SR(GND_net), .Q(col_sync[1]));
    defparam q_i1.REGSET = "RESET";
    defparam q_i1.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=32, LSE_LCOL=15, LSE_RCOL=5, LSE_LLINE=56, LSE_RLINE=60 *) FD1P3XZ q_i0 (.D(n1[0]), 
            .SP(VCC_net), .CK(int_osc), .SR(GND_net), .Q(col_sync[0]));
    defparam q_i0.REGSET = "RESET";
    defparam q_i0.SRMODE = "CE_OVER_LSR";
    VLO i2 (.Z(GND_net));
    (* LSE_LINE_FILE_ID=32, LSE_LCOL=15, LSE_RCOL=5, LSE_LLINE=56, LSE_RLINE=60 *) IOL_B n1_i3 (.PADDI(col_raw_c[3]), 
            .DO1(GND_net), .DO0(GND_net), .CE(VCC_net), .IOLTO(GND_net), 
            .HOLD(GND_net), .INCLK(int_osc), .OUTCLK(GND_net), .DI0(n1[3]));
    defparam n1_i3.LATCHIN = "NONE_REG";
    defparam n1_i3.DDROUT = "NO";
    VHI i1 (.Z(VCC_net));
    
endmodule

//
// Verilog Description of module lab3_ta_controller
//

module lab3_ta_controller (input [15:0]keypad, output n21, input hex_counter_5__N_120, 
            output n23, output n30, output n27, output n19, input n1086, 
            output n26, output n13, output n25, output n58, input \row_decoded[0] , 
            output [3:0]saved_row, input int_osc, output shift_enable, 
            input \row_decoded[1] , output scan_enable, input \col_decoded[0] , 
            input \row_decoded[2] , output n23_adj_1, input db_done_N_177, 
            output db_reset, input [3:0]col_sync, output n150, output n22, 
            input row_decoded_2__N_29, output n1028, output n1025, input scan_done, 
            input reset_c, input n3117);
    
    wire [1:0]saved_col;
    (* is_clock=1 *) wire int_osc;
    
    wire n1031, n3641, n602, n3627, n29, n3595, n6, n15, n3631, 
        n3515;
    wire [7:0]n143;
    
    wire n3597, n1043, n62, n1040, n3629, n3643, n4077, n604, 
        n17, n3531, n133, n940, n169, n1041, n3985, VCC_net, 
        GND_net;
    
    (* lut_function="(A (B (C+(D))+!B (C))+!A (B (D)))" *) LUT4 i3315_4_lut (.A(n21), 
            .B(keypad[12]), .C(n23), .D(keypad[13]), .Z(n3627));
    defparam i3315_4_lut.INIT = "0xeca0";
    (* lut_function="(A (B (C+(D))+!B (C))+!A (B (D)))" *) LUT4 i3283_4_lut (.A(keypad[2]), 
            .B(keypad[8]), .C(keypad[3]), .D(keypad[9]), .Z(n3595));
    defparam i3283_4_lut.INIT = "0xeca0";
    (* lut_function="(A (B (C+(D))+!B (C))+!A (B (D)))" *) LUT4 i3319_4_lut (.A(keypad[10]), 
            .B(keypad[14]), .C(keypad[11]), .D(keypad[15]), .Z(n3631));
    defparam i3319_4_lut.INIT = "0xeca0";
    (* lut_function="(A (B (C+(D))+!B (C))+!A (B (D)))" *) LUT4 i3285_4_lut (.A(n13), 
            .B(keypad[4]), .C(n15), .D(keypad[5]), .Z(n3597));
    defparam i3285_4_lut.INIT = "0xeca0";
    (* lut_function="(A+(B))" *) LUT4 i11_2_lut (.A(keypad[2]), .B(keypad[3]), 
            .Z(n15));
    defparam i11_2_lut.INIT = "0xeeee";
    (* lut_function="(A+(B))" *) LUT4 i9_2_lut (.A(keypad[0]), .B(keypad[1]), 
            .Z(n13));
    defparam i9_2_lut.INIT = "0xeeee";
    FD1P3XZ state_FSM_i1 (.D(n4077), .SP(VCC_net), .CK(int_osc), .SR(GND_net), 
            .Q(scan_enable));
    defparam state_FSM_i1.REGSET = "RESET";
    defparam state_FSM_i1.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (B (C+(D))+!B (C))+!A (B (D)))" *) LUT4 i3317_4_lut (.A(n25), 
            .B(keypad[6]), .C(n27), .D(keypad[7]), .Z(n3629));
    defparam i3317_4_lut.INIT = "0xeca0";
    (* lut_function="(A (B+(C+(D)))+!A (B+(C)))" *) LUT4 i3329_4_lut (.A(keypad[0]), 
            .B(n3627), .C(n3515), .D(keypad[1]), .Z(n3641));
    defparam i3329_4_lut.INIT = "0xfefc";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i3331_4_lut (.A(n3629), .B(n3597), 
            .C(n3631), .D(n3595), .Z(n3643));
    defparam i3331_4_lut.INIT = "0xfffe";
    (* LSE_LINE_FILE_ID=32, LSE_LCOL=21, LSE_RCOL=3, LSE_LLINE=103, LSE_RLINE=119 *) FD1P3XZ saved_col__i0 (.D(\col_decoded[0] ), 
            .SP(n1086), .CK(int_osc), .SR(hex_counter_5__N_120), .Q(saved_col[0]));
    defparam saved_col__i0.REGSET = "RESET";
    defparam saved_col__i0.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=32, LSE_LCOL=21, LSE_RCOL=3, LSE_LLINE=103, LSE_RLINE=119 *) FD1P3XZ saved_col__i1 (.D(n1040), 
            .SP(VCC_net), .CK(int_osc), .SR(GND_net), .Q(saved_col[1]));
    defparam saved_col__i1.REGSET = "RESET";
    defparam saved_col__i1.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!(A (B (D))+!A (B ((D)+!C)+!B !(C))))" *) LUT4 i1_4_lut (.A(n23_adj_1), 
            .B(n26), .C(n30), .D(n29), .Z(n17));
    defparam i1_4_lut.INIT = "0x32fa";
    (* lut_function="(!((B+(C+(D)))+!A))" *) LUT4 i15_4_lut (.A(n17), .B(n3643), 
            .C(n3641), .D(n3531), .Z(n58));
    defparam i15_4_lut.INIT = "0x0002";
    (* lut_function="(A (B (C)+!B (C+(D)))+!A (C))" *) LUT4 i420_3_lut_4_lut (.A(db_reset), 
            .B(n62), .C(n143[3]), .D(db_done_N_177), .Z(n602));
    defparam i420_3_lut_4_lut.INIT = "0xf2f0";
    (* lut_function="(!((B+(C))+!A))" *) LUT4 i1_2_lut_3_lut (.A(db_reset), 
            .B(n62), .C(db_done_N_177), .Z(n940));
    defparam i1_2_lut_3_lut.INIT = "0x0202";
    (* lut_function="(A (B))" *) LUT4 i118_2_lut (.A(n150), .B(n58), .Z(n133));
    defparam i118_2_lut.INIT = "0x8888";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i29_2_lut_3_lut_4_lut (.A(keypad[4]), 
            .B(keypad[5]), .C(keypad[7]), .D(keypad[6]), .Z(n22));
    defparam i29_2_lut_3_lut_4_lut.INIT = "0xfffe";
    (* LSE_LINE_FILE_ID=32, LSE_LCOL=21, LSE_RCOL=3, LSE_LLINE=103, LSE_RLINE=119 *) FD1P3XZ saved_row__i3 (.D(n1043), 
            .SP(VCC_net), .CK(int_osc), .SR(GND_net), .Q(saved_row[3]));
    defparam saved_row__i3.REGSET = "RESET";
    defparam saved_row__i3.SRMODE = "CE_OVER_LSR";
    FD1P3XZ state_FSM_i7 (.D(n604), .SP(VCC_net), .CK(int_osc), .SR(hex_counter_5__N_120), 
            .Q(n143[6]));
    defparam state_FSM_i7.REGSET = "RESET";
    defparam state_FSM_i7.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (C+(D))+!A (B (C+(D))))" *) LUT4 i3203_2_lut_3_lut_4_lut (.A(keypad[4]), 
            .B(keypad[5]), .C(keypad[7]), .D(keypad[6]), .Z(n3515));
    defparam i3203_2_lut_3_lut_4_lut.INIT = "0xeee0";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i1_2_lut_3_lut_4_lut (.A(keypad[4]), 
            .B(keypad[5]), .C(n19), .D(n30), .Z(n1028));
    defparam i1_2_lut_3_lut_4_lut.INIT = "0xfffe";
    FD1P3XZ state_FSM_i6 (.D(n940), .SP(VCC_net), .CK(int_osc), .SR(hex_counter_5__N_120), 
            .Q(shift_enable));
    defparam state_FSM_i6.REGSET = "RESET";
    defparam state_FSM_i6.SRMODE = "CE_OVER_LSR";
    FD1P3XZ state_FSM_i5 (.D(n602), .SP(VCC_net), .CK(int_osc), .SR(hex_counter_5__N_120), 
            .Q(db_reset));
    defparam state_FSM_i5.REGSET = "RESET";
    defparam state_FSM_i5.SRMODE = "CE_OVER_LSR";
    FD1P3XZ state_FSM_i4 (.D(n143[2]), .SP(VCC_net), .CK(int_osc), .SR(hex_counter_5__N_120), 
            .Q(n143[3]));
    defparam state_FSM_i4.REGSET = "RESET";
    defparam state_FSM_i4.SRMODE = "CE_OVER_LSR";
    FD1P3XZ state_FSM_i2 (.D(n169), .SP(VCC_net), .CK(int_osc), .SR(hex_counter_5__N_120), 
            .Q(n150));
    defparam state_FSM_i2.REGSET = "RESET";
    defparam state_FSM_i2.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=32, LSE_LCOL=21, LSE_RCOL=3, LSE_LLINE=103, LSE_RLINE=119 *) FD1P3XZ saved_row__i2 (.D(\row_decoded[2] ), 
            .SP(n1086), .CK(int_osc), .SR(hex_counter_5__N_120), .Q(saved_row[2]));
    defparam saved_row__i2.REGSET = "RESET";
    defparam saved_row__i2.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=32, LSE_LCOL=21, LSE_RCOL=3, LSE_LLINE=103, LSE_RLINE=119 *) FD1P3XZ saved_row__i1 (.D(\row_decoded[1] ), 
            .SP(n1086), .CK(int_osc), .SR(hex_counter_5__N_120), .Q(saved_row[1]));
    defparam saved_row__i1.REGSET = "RESET";
    defparam saved_row__i1.SRMODE = "CE_OVER_LSR";
    FD1P3XZ state_FSM_i3 (.D(n1041), .SP(VCC_net), .CK(int_osc), .SR(GND_net), 
            .Q(n143[2]));
    defparam state_FSM_i3.REGSET = "RESET";
    defparam state_FSM_i3.SRMODE = "CE_OVER_LSR";
    VLO i2 (.Z(GND_net));
    (* lut_function="(A+(B))" *) LUT4 i41_2_lut (.A(n19), .B(n22), .Z(n23_adj_1));
    defparam i41_2_lut.INIT = "0xeeee";
    (* lut_function="(A+(B))" *) LUT4 i23_2_lut (.A(keypad[14]), .B(keypad[15]), 
            .Z(n27));
    defparam i23_2_lut.INIT = "0xeeee";
    (* lut_function="(A+(B))" *) LUT4 i21_2_lut (.A(keypad[12]), .B(keypad[13]), 
            .Z(n25));
    defparam i21_2_lut.INIT = "0xeeee";
    (* lut_function="(A+(B))" *) LUT4 i19_2_lut (.A(keypad[10]), .B(keypad[11]), 
            .Z(n23));
    defparam i19_2_lut.INIT = "0xeeee";
    (* lut_function="(A+(B))" *) LUT4 i17_2_lut (.A(keypad[8]), .B(keypad[9]), 
            .Z(n21));
    defparam i17_2_lut.INIT = "0xeeee";
    (* lut_function="(A+(B))" *) LUT4 i3_2_lut (.A(n143[6]), .B(db_reset), 
            .Z(n1031));
    defparam i3_2_lut.INIT = "0xeeee";
    (* lut_function="(A (B (C+!(D))+!B (C))+!A !((D)+!B))" *) LUT4 i2_4_lut (.A(n62), 
            .B(scan_enable), .C(n1031), .D(scan_done), .Z(n6));
    defparam i2_4_lut.INIT = "0xa0ec";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i1_2_lut_3_lut_4_lut_adj_1 (.A(keypad[6]), 
            .B(keypad[7]), .C(n19), .D(n30), .Z(n1025));
    defparam i1_2_lut_3_lut_4_lut_adj_1.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i45_2_lut_3_lut_4_lut (.A(n26), 
            .B(keypad[12]), .C(keypad[13]), .D(n27), .Z(n30));
    defparam i45_2_lut_3_lut_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i37_2_lut_4_lut (.A(keypad[12]), 
            .B(keypad[13]), .C(keypad[14]), .D(keypad[15]), .Z(n29));
    defparam i37_2_lut_4_lut.INIT = "0xfffe";
    (* lut_function="((B+!(C+!(D)))+!A)" *) LUT4 i3_4_lut_4_lut (.A(reset_c), 
            .B(n6), .C(n58), .D(n150), .Z(n4077));
    defparam i3_4_lut_4_lut.INIT = "0xdfdd";
    (* lut_function="(A (B (C)))" *) LUT4 i858_2_lut_3_lut (.A(reset_c), .B(n150), 
            .C(n58), .Z(n1041));
    defparam i858_2_lut_3_lut.INIT = "0x8080";
    (* lut_function="(A (B))" *) LUT4 i42_2_lut (.A(scan_done), .B(scan_enable), 
            .Z(n169));
    defparam i42_2_lut.INIT = "0x8888";
    (* lut_function="(A (B+!(C))+!A (B))" *) LUT4 i422_3_lut (.A(n143[6]), 
            .B(shift_enable), .C(n62), .Z(n604));
    defparam i422_3_lut.INIT = "0xcece";
    (* lut_function="(A (B+(C))+!A (B (C)))" *) LUT4 i3219_4_lut_3_lut (.A(n19), 
            .B(n22), .C(n30), .Z(n3531));
    defparam i3219_4_lut_3_lut.INIT = "0xe8e8";
    (* lut_function="(!((B (C (D))+!B (C+!(D)))+!A))" *) LUT4 i860_4_lut (.A(reset_c), 
            .B(saved_row[3]), .C(row_decoded_2__N_29), .D(n133), .Z(n1043));
    defparam i860_4_lut.INIT = "0x0a88";
    (* lut_function="(!((B (C (D))+!B (C+!(D)))+!A))" *) LUT4 i857_4_lut (.A(reset_c), 
            .B(saved_col[1]), .C(n3117), .D(n133), .Z(n1040));
    defparam i857_4_lut.INIT = "0x0a88";
    (* lut_function="(A (C+!(D))+!A (B (D)))" *) LUT4 \saved_col[0]_bdd_4_lut  (.A(saved_col[0]), 
            .B(col_sync[2]), .C(col_sync[3]), .D(saved_col[1]), .Z(n3985));
    defparam \saved_col[0]_bdd_4_lut .INIT = "0xe4aa";
    (* lut_function="(A (B+(D))+!A !((D)+!C))" *) LUT4 n3985_bdd_4_lut (.A(n3985), 
            .B(col_sync[1]), .C(col_sync[0]), .D(saved_col[1]), .Z(n62));
    defparam n3985_bdd_4_lut.INIT = "0xaad8";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i25_2_lut_4_lut (.A(keypad[0]), 
            .B(keypad[1]), .C(keypad[2]), .D(keypad[3]), .Z(n19));
    defparam i25_2_lut_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i33_2_lut_4_lut (.A(keypad[8]), 
            .B(keypad[9]), .C(keypad[10]), .D(keypad[11]), .Z(n26));
    defparam i33_2_lut_4_lut.INIT = "0xfffe";
    (* LSE_LINE_FILE_ID=32, LSE_LCOL=21, LSE_RCOL=3, LSE_LLINE=103, LSE_RLINE=119 *) FD1P3XZ saved_row__i0 (.D(\row_decoded[0] ), 
            .SP(n1086), .CK(int_osc), .SR(hex_counter_5__N_120), .Q(saved_row[0]));
    defparam saved_row__i0.REGSET = "RESET";
    defparam saved_row__i0.SRMODE = "CE_OVER_LSR";
    VHI i1 (.Z(VCC_net));
    
endmodule
